footer {
  font-family: $font;
  .wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }
}

.footer {
  &__menus {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__menu {
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 20px;
      text-transform: uppercase;
      color: $grey;
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 70px;
        height: 1px;
        top: calc(100% + 10px);
        left: 0;
        background-color: $grey;
      }
    }
    a {
      display: flex;
      font-family: $font;
      font-size: 16px;
      text-decoration: none;
      color: $grey;
      transition: color 0.2s linear;

      .icon-wrapper {
        margin-right: 5px;
        svg {
          height: 30px;
          width: 25px;
          fill: $grey;
          pointer-events: none;
          transition: fill 0.2s linear;
        }
      }

      &:hover {
        color: white;
        .icon-wrapper {
          svg {
            fill: white;
          }
        }
      }
    }
  }
  &__credentials {
    color: $grey;
    margin-top: 50px;
    font-size: 14px;
    text-align: center;
  }

  .open-contact {
    display: flex;
    font-family: $font;
    font-size: 16px;
    text-decoration: none;
    color: $grey;
    transition: color 0.2s linear;
    background: none;
    border: none;
    cursor: pointer;

    .icon-wrapper {
      margin-right: 5px;
      svg {
        height: 30px;
        width: 25px;
        fill: $grey;
        pointer-events: none;
        transition: fill 0.2s linear;
      }
    }

    &:hover {
      color: white;
      .icon-wrapper {
        svg {
          fill: white;
        }
      }
    }
  }

  @media (max-width: 900px) {
    &__menus {
      flex-direction: column;
      align-items: center;
    }
    &__menu {
      text-align: center;
      margin-bottom: 30px;
      align-items: center;
      h2 {
        &::after {
          left: calc(50% - 35px);
        }
      }
    }
    &__credentials {
      margin-top: 50px;
    }
  }
}
