/*----------------------------------------------------*/
// Layout
/*----------------------------------------------------*/

// Layout & Home page
/*----------------------------------------------------*/
.layout {
  .with-title & {
    padding-top: 250px;
  }
  .no-title & {
    padding-top: 60px;
  }
}

// Globals
/*----------------------------------------------------*/
.header__container {
  position: fixed;
  width: 100%;

  z-index: 100;
}
.icon-wrapper {
  display: flex;
  align-items: center;
}
.icon-wrapper svg {
  width: 100%;
}

.page {
  padding: 0 7vw;
  padding-bottom: 70px;

  @media (max-width: 1700px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (max-width: 500px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
