/*----------------------------------------------------*/
// Layout
/*----------------------------------------------------*/

// Layout & Home page
/*----------------------------------------------------*/
.layout {
  .with-title & {
    padding-top: 200px;
  }
  .no-title & {
    padding-top: 60px;
  }
}

// Globals
/*----------------------------------------------------*/
.header__container {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;

  z-index: 100;

  pointer-events: none;
}
.icon-wrapper {
  display: flex;
  align-items: center;
}
.icon-wrapper svg {
  width: 100%;
}

.page {
  padding: 0 7vw;
  padding-bottom: 70px;

  @media (max-width: 1700px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (max-width: 500px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

// Scroll To Top
/*----------------------------------------------------*/
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;

  background-image: linear-gradient(to right, $main-color, $secondary-color);

  display: flex;
  width: 50px;
  height: 50px;

  padding: 12px;
  border-radius: 5px;

  cursor: pointer;

  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s $ease-in-out-cubic, transform 0.5s $ease-in-out-circ;

  svg {
    transform: rotate(180deg);
    path {
      fill: white;
    }
  }

  &.visible {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.75s;
  }
}
