//chart frame
.frame-chart {
  .frame {
    &__header {
      margin: 0;
    }

    &__axes {
      position: absolute;
      width: 100%;
      top: 9%;
      display: flex;
      justify-content: space-evenly;
      font-weight: bold;
      font-family: "Open Sans";

      @media (max-width: 1020px) {
        top:12%;
      }
    }

    &__content {
      height: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      .chart {
        width: 100%;
        outline: none;

        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          overflow: visible;
        }

        &__number {
          pointer-events: none;
          fill: white;
          font-size: 22px;
          font-weight: bold;
        }

        &__axislabel {
          &.vertical {
            g > svg > text {
              transform: translate(-5px, 6px) rotate(-45deg);
            }
          }
          g > svg > text {
            font-size: 14px !important;
            fill: $text-color !important;
            font-weight: 400;
          }
          &.axislabel {
            &__bottom {
              g > svg > text {
                font-size: 12px !important;
              }
            }
            &__verticalpyramide {
              g > svg > text {
                font-size: 12px !important;
              }
            }
            &__barstack {
              g > svg > text {
                font-size: 14px !important;
                fill: $text-color !important;
              }
            }
          }
        }

        &__description {
          font-size: 14px !important;
          fill: $text-color !important;
        }

        &__axistick {
          line {
            stroke: rgba($text-color, 0.5);
          }
        }

        &__rows {
          line {
            stroke: rgba($text-color, 0.1) !important;
            stroke-width: 2 !important;
          }
        }
        &__legend {
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;
          margin-bottom:2px;
          display: flex;
          justify-content: center;
          

          @media (max-width: 1550px) {
            font-size: 16px;
          }
          @media (max-width: 1400px) {
            font-size: 18px;
          }
          @media (max-width: 1020px) {
            font-size: 14px;
          }
          @media (max-width: 875px) {
            margin-bottom: 0px;
            margin-left: 2%;
            columns: 5;
            display: grid;
            grid-template-columns: repeat(5, 18%);
            grid-template-rows: repeat(2, 24px);
            
            .item:nth-child(n+6):nth-last-child(n+4) {
              margin-left: 12px;
            }           
          }
          @media (max-width: 565px) {
            font-size: 12px;
            .item:nth-child(n+6):nth-last-child(n+4) {
              margin-left: 12px;
            }
            margin-left: -2%;
          }
          @media (max-width: 360px) {
            .item:nth-child(n+6):nth-last-child(n+4) {
              margin-left: 12px;
            }
            margin-left: -1%;
            grid-template-columns: repeat(4, 4fr);
            grid-template-rows: repeat(3, 20px);
          }
        }

        &__sexe {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            margin-bottom:2px;
            display: flex;
            justify-content: center;
            

            @media (max-width: 1550px) {
              font-size: 16px;
            }
            @media (max-width: 1400px) {
              font-size: 18px;
            }
            @media (max-width: 1020px) {
              font-size: 14px;
            }
            @media (max-width: 565px) {
              font-size: 12px;
          }
        }
        &__legend-item, &__sexe-item {
          display: flex;
          align-items: center;
          margin-left: 10px;
          margin-right: 10px;
                    
          flex-direction: row;
          
          .item__label {
            cursor: pointer;
            margin: 0 0 12px;
            font-size: 12px;
            font-family: Arial;
          }
          .line {
            text-decoration: line-through;
          }
          &:hover {
            transform: scale(1.05);
          }
          &:nth-child(-n + 2) svg {
            padding-left: 2px;
          }
          svg {
            width: 25px;
            height: 25px;
            margin-bottom: 3px;
          }
          .square {
            &__hommes {
              fill: $teal;
            }
            &__femmes {
              fill: $turquoise;
            }
          }
          .visx-legend-label {
            margin-bottom: 12px;
          }
        }
      }

      .piechart {
        svg {
          width: 100%;
          height: auto;
        }
        &__label {
          svg text {
            font-weight: normal !important;
            font-size: 14px !important;
            fill: $text-color !important;
          }
        }
      }

      .barchart {
        &__number {
          font-size: 16px;
        }
      }

      .wordcloud {
        display: flex;
        flex-direction: column;
        user-select: none;
        margin-top: 20px;
        .svg {
          margin: 1rem 0;
          cursor: pointer;
        }
        .label {
          display: inline-flex;
          align-items: center;
          font-size: 14px;
          margin-right: 8px;
        }
        .textarea {
          min-height: 100px;
        }
      }

      .charts {
        &__switch {
          background-color: transparent;
          position: absolute;
          right: 10px;
          top: 10px;
          padding: 10px;
          border: none;
          height: 50px;
          cursor: pointer;

          .icon-switch {
            width: 30px;
            height: 30px;
            fill: $text-color;
          }

          &:hover {
            background: $btn-hover;
          }
        }
      }
    }
  }
}
.visx-crosshair-vertical {
  z-index: 2;
  svg {
    overflow: visible;
    margin-left: 33px;
    margin-top: 8px;
  }
}
.charttooltip__container {
  position: absolute;
  pointer-events: none;
  z-index: 2;
  .presence__tooltip {
    max-width: 400px;
    .tooltip {
      &__content {
        .item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .legend {
            &__col {
              display: flex;
              align-items: center;
              &:first-child {
                flex: 5;
              }
              &:last-child {
                flex: 1;
                text-align: right;
                font-weight: 400;
              }
              svg {
                width: 25px;
                height: 25px;
                margin-top: 10px;
                .last-child {
                  margin-left: 5px;
                }
              }
            }
          }
          &__tooltip {
            width: 100%;
            justify-content: space-between;
            margin-bottom: 12px;
            &:last-child {
              margin-bottom: 0px;
            }
            .labelValue {
              font-size: 20px;
              color: $text-color;
              text-align: right;
              font-weight: 400;
            }
          }
          &__tooltip:not(:last-child) {
            .legend__col {
              svg {
                width: 25px;
                height: 25px;
                padding-left: 2px;
                margin-bottom: 3px;
              }
            }
          }
        }
      }
    }
  }
}
