//chart frame
.frame-chart {
  min-width: 30vw;
  margin: 0 0 0 40px;

  .frame {
    &__header {
      margin: 0;
    }
    &__content {
      height: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      .chart {
        width: 100%;
        outline: none;

        display: flex;
        justify-content: center;
        align-items: center;

        &__number {
          pointer-events: none;
          fill: white;
          font-size: 22px;
          font-weight: bold;
        }

        &__axislabel {
          g > svg > text {
            font-size: 14px !important;
            fill: $text-color !important;
          }
          &.axislabel {
            &__bottom {
              g > svg > text {
                font-size: 12px !important;
              }
            }
          }
        }

        &__description {
          font-size: 14px !important;
          fill: $text-color !important;
        }

        &__axistick {
          line {
            stroke: rgba($text-color, 0.5);
          }
        }

        &__rows {
          line {
            stroke: rgba($text-color, 0.1);
          }
        }
      }

      .piechart {
        &__label {
          svg text {
            font-weight: normal !important;
            font-size: 15px !important;
            fill: $text-color !important;
          }
        }
      }

      .barchart {
        &__number {
          font-size: 18px;
        }
      }

      .charts {
        &__switch {
          background-color: transparent;
          position: absolute;
          right: 10px;
          top: 10px;
          padding: 10px;
          border: none;
          height: 50px;
          cursor: pointer;

          .icon-switch {
            width: 30px;
            height: 30px;
            fill: $text-color;
          }

          &:hover {
            background: $btn-hover;
          }
        }
      }
    }
  }

  @media (max-width: 1500px) {
    display: none;
  }
}

//second section
.bars {
  display: flex;

  .frame-bar {
    margin: 0;
    min-width: unset;
    width: 30%;

    .frame {
      &__content {
        height: 350px;
        .bar {
          &__container {
            width: 100%;
          }
        }
      }
    }
  }

  .frame-barstack {
    max-width: none;
    width: 70%;

    .frame {
      &__content {
        height: 350px;
        .barstack {
          &__container {
            width: 100%;
          }
        }
      }
    }
  }
}

// troisième section

.pyramide {
  display: flex;

  .frame-pyramide {
    margin: 0;
    max-width: none;
    width: 100%;

    .frame__content {
      height: 500px;
      .pyramide__container {
        width: 100%;
        svg {
          width: 50%;
        }
      }
    }
  }
}
