.deputies__list {
  position: relative;
  display: grid;
  grid-gap: 1vw;
  grid-template-columns: repeat(10, auto);
  padding: 0;
  margin: 0;

  //responsive
  @media (max-width: 2560px) {
    grid-template-columns: repeat(8, auto);
  }
  @media (max-width: 1920px) {
    grid-template-columns: repeat(7, auto);
  }
  @media (max-width: 1700px) {
    grid-template-columns: repeat(6, auto);
  }
  @media (max-width: 1500px) {
    grid-template-columns: repeat(5, auto);
  }
  @media (max-width: 1200px) {
    grid-template-columns: repeat(4, auto);
    grid-gap: 2vw;
  }
  @media (max-width: 900px) {
    grid-template-columns: repeat(3, auto);
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(2, auto);
  }
  @media (max-width: 300px) {
    grid-template-columns: repeat(1, auto);
    grid-gap: 20px;
  }
}

.deputies__no-result {
  height: 500px;
  max-height: 50vh;
  grid-column: -1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font;
  border: dashed 10px rgba(black, 0.15);
  border-radius: 10px;
  padding: 50px;
  font-size: 3vw;
  font-weight: bold;
  color: rgba(black, 0.15);
  text-align: center;
  @media (max-width: 800px) {
    font-size: 25px;
    border-width: 5px;
    border-radius: 5px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@import "deputy";
