.deputies__list {
  position: relative;
  display: grid;
  grid-gap: 1vw;
  grid-template-columns: repeat(10, auto);
  padding: 0;
  margin: 0;

  //responsive
  @media (max-width: 2560px) {
    grid-template-columns: repeat(8, auto);
  }
  @media (max-width: 1920px) {
    grid-template-columns: repeat(7, auto);
  }
  @media (max-width: 1700px) {
    grid-template-columns: repeat(6, auto);
  }
  @media (max-width: 1500px) {
    grid-template-columns: repeat(5, auto);
  }
  @media (max-width: 1200px) {
    grid-template-columns: repeat(4, auto);
    grid-gap: 2vw;
  }
  @media (max-width: 900px) {
    grid-template-columns: repeat(3, auto);
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(2, auto);
  }
  @media (max-width: 300px) {
    grid-template-columns: repeat(1, auto);
    grid-gap: 20px;
  }
}

.deputies__no-result {
  height: 500px;
  max-height: 50vh;
  grid-column: -1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font;
  border: dashed 10px rgba(black, 0.15);
  border-radius: 10px;
  padding: 50px;
  font-size: 3vw;
  font-weight: bold;
  color: rgba(black, 0.15);
  text-align: center;
  @media (max-width: 800px) {
    font-size: 25px;
    border-width: 5px;
    border-radius: 5px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

//chart frame
.frame-chart {
  min-width: 30vw;
  margin: 0 0 0 40px;
  &__content {
    margin: auto 10px;
    .chart {
      min-height: 250px;
      height: 250px;
      width: 100%;
      outline: none;
      &.piechart,
      &.barchart {
        background: rgba(black, 0);
        transition: 0.225s linear;
        padding-left: 20px;
        svg g text {
          &[text-anchor="middle"] {
            font-size: 13px !important;
          }
          &[text-anchor="end"] {
            font-size: 16px !important;
          }
          &.description_y {
            font-size: 14px !important;
          }
          &.label {
            font-weight: bold;
          }
          font-size: 18px !important;
          font-family: "Open sans, sans-serif";
          fill: black;
        }
      }
      &.piechart {
        svg g text {
          &[text-anchor="middle"] {
            font-size: 28px !important;
            font-weight: bold;
            fill: white;
          }
        }
      }
    }
    .charts {
      &__switch {
        background-color: transparent;
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 10px;
        border: none;
        height: 50px;
        cursor: pointer;

        .icon-switch {
          width: 30px;
          height: 30px;
          fill: $text-color;
        }

        &:hover {
          background: $btn-hover;
        }
      }
    }
  }

  @media (max-width: 1500px) {
    display: none;
  }
}

@import "deputy";
