/* Style du député */
.depute {
  grid-column-end: span 1;
  position: relative;
  width: 100%;
  background: grey;
  padding: 10px;
  text-decoration: none;
  color: white;
  height: calc((86vw - (1vw * 10)) / 10);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  transform: scale(1);
  transition: transform 0.225s cubic-bezier(0.7, 0, 0.3, 1);
  // Variations
  &--opened-false {
    /*  */
  }
  &--opened-true {
    /*  */
  }
  // Contenu
  &__name-wrapper {
    display: flex;
    margin-bottom: 2px;
  }
  &__rs-wrapper {
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    flex-direction: column;
  }
  &__link-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
  }
  h2 {
    margin: 0;
    text-align: left;
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 10px;
    text-transform: uppercase;
    font-size: 23px;
    padding-right: 10px;
  }
  .deputy {
    &__photo {
      position: absolute;
      width: 100%;
      height: auto;
      z-index: 0;
      filter: grayscale(1);
      opacity: 0.3;

      &--errored {
        filter: none;
        opacity: 0.1;
        svg {
          fill: white;
        }
      }
    }
    &__icon-container {
      margin-right: 15px;
      width: 50%;
      height: 40%;
      position: absolute;
      bottom: 0px;
      right: 0px;
      transform: translate(0%, 100%);
      transition: transform 0.225s cubic-bezier(0.7, 0, 0.3, 1);
    }
    &__groupe-icon {
      display: block;
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin-bottom: 0px;
    }
  }
  &:hover {
    transform: scale(1.05);
    .deputy__icon-container {
      transform: translate(0%, 0%);
    }
  }

  // Responsive
  @media (max-width: 2560px) {
    height: calc((86vw - (1vw * 8)) / 8);
  }
  @media (max-width: 1920px) {
    height: calc((86vw - (1vw * 7)) / 7);
  }
  @media (max-width: 1800px) {
    height: calc(((100vw - (1vw * 6)) / 6) - 30px);
  }
  @media (max-width: 1500px) {
    height: calc(((100vw - (1vw * 5)) / 5) - 30px);
  }
  @media (max-width: 1200px) {
    height: calc(((100vw - (1vw * 4)) / 4) - 30px);
  }
  @media (max-width: 900px) {
    height: calc(((100vw - (1vw * 3)) / 3) - 30px);
  }
  @media (max-width: 600px) {
    height: calc(((100vw - (1vw * 2)) / 2) - 30px);
  }
  @media (max-width: 400px) {
    height: calc(((100vw - 20px) / 1) - 30px);
  }
}
