.filters {
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;

  //search field
  &__search {
    background: white;
    border: 2px solid white;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 0;
    .search {
      &__icon {
        margin-left: 10px;
        pointer-events: none;
        svg {
          width: 33px;
          height: 33px;
          fill: $text-color;
        }
      }
      &__input {
        display: block;
        width: 100%;
        margin: 0 10px;
        padding: 10px;
        border: none;
        background: none;
        font-family: $font;
        font-size: 22px;
        line-height: normal;
        transition: 0.225s linear;
        &:focus,
        &:hover {
          outline: none;
        }
        &:focus::placeholder {
          opacity: 0;
        }
      }
      &__clear {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        pointer-events: none;
        display: none;
        opacity: 0;
        position: relative;

        &-btn {
          position: absolute;
          padding: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;
          border: none;
          background: none;
          outline: none;
        }
        .icon-wrapper {
          pointer-events: none;
          svg {
            fill: $text-color;
          }
        }
        &:hover {
          .icon-wrapper {
            svg {
              fill: black;
            }
          }
        }
        &:active {
          .icon-wrapper {
            svg {
              fill: $btn-active;
            }
          }
        }
        &--visible {
          display: block;
          .search__clear-btn {
            pointer-events: auto;
          }
          opacity: 1;
        }
      }
    }
    &:hover {
      border-color: $text-color;
    }

    &--focus {
      border-color: $text-color;
    }
  }

  //sex / group / allornone group
  &__middle-line {
    display: flex;
    margin-top: 20px;
  }

  //sex buttons
  &__sexes {
    width: 110px;
    position: relative;
    margin-right: 40px;
    .sexes {
      &__btn {
        width: 100%;
        height: calc(50% - 10px);
        margin-bottom: 10px;
        background: white;
        border: 2px solid $text-color;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        transition: border-color 0.225s linear;
        .icon-wrapper {
          fill: $text-color;
          transition: 0.225s linear;
        }
        .sexe {
          &__icon {
            &--female-symbol,
            &--male-symbol {
              pointer-events: none;
              width: 35px;
              height: 35px;
              svg {
                height: 100%;
                width: 100%;
              }
            }
            &--female-symbol {
              width: 30px;
              height: 40px;
            }
          }
        }
        .tooltip {
          position: absolute;
          top: 80%;
          left: 50%;
          transform: translate(-50%, 0);
          opacity: 0;
          min-width: 220px;
        }
        &:not(.selected) {
          border: 2px dashed $btn-disabled;
          background: none;
          .icon-wrapper {
            fill: $btn-disabled;
          }
          &:hover {
            background: white;
          }
          &:active {
            background: $btn-hover;
          }
        }
        &:focus {
          outline: none;
        }
        &:hover {
          background-color: $btn-hover;
          // .icon-wrapper {
          //   fill: black;
          // }
          .tooltip {
            top: calc(100% + 10px);
            opacity: 1;
          }
        }
        &:active {
          background-color: $btn-active;
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -20px;
      height: calc(100% - 10px);
      width: 2px;
      background-color: $text-color;
    }
  }

  // Blocks
  &__groupe {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    .groupe {
      margin-right: 10px;
      margin-bottom: 10px;
      max-height: 70px;
      border: none;
      padding: 0;
      pointer-events: none;
      position: relative;
      &__checkbox {
        pointer-events: auto;
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        appearance: none;
        outline: none;
      }
      &__img-container {
        width: 100px;
        height: 60px;
        padding: 2px;
        position: relative;
        z-index: 1;
        img {
          object-fit: contain;
          height: 100%;
          width: 100%;
          margin: 0px;
        }
      }
      &__border {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        border-width: 2px;
        border-style: solid;
      }
      &__background-color {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: opacity 0.225s linear;
      }

      .tooltip {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        z-index: 3;
        top: 80%;
        opacity: 0;
        min-width: 200px;
      }

      &:not(.selected) {
        .groupe {
          &__border {
            border-style: dashed;
            opacity: 0.5;
          }
          &__background-color {
            opacity: 0;
          }
          &__img-container {
            opacity: 0.5;
          }
        }
      }

      &:hover {
        .groupe {
          &__background-color {
            opacity: 0.7;
          }
        }
        &:not(.selected) {
          .groupe {
            &__background-color {
              opacity: 0.2;
            }
          }
        }
        .tooltip {
          opacity: 1;
          top: calc(100% + 10px);
        }
      }

      &:focus {
        outline: none;
        border: none;
      }
    }
  }

  //reset button
  &__reset {
    width: 110px;
    position: relative;
    button {
      width: 100%;
      height: calc(100% - 10px);
      border: none;
      background-color: white;
      border: 2px solid white;
      font-family: $font;
      color: $text-color;
      cursor: pointer;
      svg {
        fill: $text-color;
        width: 30px;
        transform-origin: center;
        transform: rotate(0deg);
        transition: 0.225s linear;
        pointer-events: none;
      }
      &:focus {
        outline: none;
      }
      &:hover {
        background: $btn-hover;
        color: black;
        opacity: 1;
        border-color: $text-color;
        svg {
          fill: black;
          animation: rotate 2s ease-in-out infinite;
        }
      }
      &:active {
        background-color: $btn-active;
      }
    }
  }

  //allornone buttons
  // &__allornone {
  //   width: 95px;
  //   button {
  //     margin-bottom: 10px;
  //     background: white;
  //     width: 100%;
  //     height: calc(50% - 10px);
  //     border: none;
  //     color: $text-color;
  //     font-family: $font;
  //     font-size: 15px;
  //     font-weight: 900;
  //     text-transform: uppercase;
  //     cursor: pointer;
  //     .icon-wrapper {
  //       pointer-events: none;
  //       margin: 0 auto;
  //       width: 20px;
  //       height: 20px;
  //       svg {
  //         width: 100%;
  //         fill: $text-color;
  //       }
  //     }
  //     &:hover {
  //       color: black;
  //       background-color: $btn-hover;
  //       svg {
  //         fill: black;
  //       }
  //     }
  //     &:focus {
  //       outline: none;
  //       border: none;
  //     }
  //     &:active {
  //       background-color: $btn-active;
  //     }
  //   }
  // }

  &__order {
    width: 25%;
    background: grey;
  }

  //Slider
  &__slider {
    position: relative;
    height: 60px;
    margin-left: 17px;
    margin-right: 100px;
    pointer-events: none;

    &-label {
      position: absolute;
      right: -80px;
      top: 16px;
      font-weight: bold;
    }
  }

  //chart frame
  .frame-chart {
    min-width: 30vw;
    margin: 0 0 0 40px;
    &__content {
      margin: auto 0;
      .chart {
        min-height: 250px;
        height: 250px;
        width: 100%;
        outline: none;
        &.piechart,
        &.barchart {
          background: rgba(black, 0);
          transition: 0.225s linear;
          cursor: pointer;
          &:hover {
            background: rgba(black, 0.05);
          }
        }
        &.piechart {
          svg g text {
            &[text-anchor="middle"] {
              font-size: 22px !important;
              font-weight: bold;
            }
          }
        }
        &.complex-barchart {
          width: 70%;
          position: relative;
        }
        .chart-wrapper {
          height: 100%;
        }
      }
    }

    @media (max-width: 1500px) {
      display: none;
    }
  }

  //responsive
  @media (max-width: 875px) {
    .frame-filters {
      padding: 20px;
      &__content {
        display: flex;
        flex-direction: column;
      }
    }
    &__search {
      order: 0;
    }

    &__middle-line {
      display: block;
      margin-top: 0;
      order: 2;
    }

    &__sexes {
      display: flex;
      width: calc(100% + 10px);
      margin-bottom: 10px;
      .sexes {
        &__btn {
          height: 60px;
          margin-right: 10px;
        }
      }

      &::after {
        display: none;
      }
    }

    &__groupe {
      justify-content: center;
      width: calc(100% + 10px);
    }

    &__allornone {
      display: flex;
      width: calc(100% + 10px);
      margin: 10px 0;
      button {
        height: 70px;
        margin-right: 10px;
      }
    }

    &__reset {
      width: 100%;
      margin: 10px 0;
      button {
        height: 70px;
      }
    }

    &__slider {
      margin-top: 20px;
      margin-right: 17px;
      margin-bottom: 10px;
      order: 1;
      &-label {
        right: unset;
        top: -5px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }
}
