.filters {
  margin-bottom: 70px;

  // Lines
  // &__line {
  //   display: flex;
  //   align-items: center;
  //   margin-bottom: 30px;
  //   &--advanced {
  //     display: flex;
  //     justify-content: center;
  //   }

  //   // @media (max-width: 1000px) {
  //   //   flex-direction: column;
  //   // }
  // }

  // Charts (Graphiques)
  &__charts {
    width: 100%;
    display: flex;

    // @media (max-width: 1400px) {
    //   flex-direction: column;
    //   margin-bottom: 50px;
    // }
  }
  .chart {
    height: 350px;
    width: 100%;
    border-radius: 10px;
    &.piechart,
    &.barchart {
      background: rgba(black, 0);
      margin-right: 30px;
      transition: 0.225s linear;
      cursor: pointer;
      &:hover {
        background: rgba(black, 0.05);
      }
    }
    &.piechart {
      svg g text {
        &[text-anchor="middle"] {
          font-size: 22px !important;
          font-weight: bold;
        }
      }
    }
    &.complex-barchart {
      width: 70%;
      position: relative;
    }
    .chart-wrapper {
      height: 100%;
    }

    // @media (max-width: 1400px) {
    //   &.piechart,
    //   &.barchart,
    //   &.complex-barchart {
    //     width: 100%;
    //     height: 250px;
    //   }
    //   &.complex-barchart {
    //     height: auto;
    //   }
    //   .chart-wrapper {
    //     display: none;
    //   }
    //   .yValue {
    //     display: none;
    //   }
    // }
  }

  &__search {
    background: white;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
    .search {
      &__icon {
        width: 35px;
        margin-left: 20px;
        pointer-events: none;
        svg {
          fill: $text-color;
        }
      }
      &__input {
        display: block;
        width: 100%;
        margin: 0;
        margin-left: 20px;
        padding: 10px;
        border: none;
        background: none;
        font-family: $font;
        font-size: 24px;
        line-height: normal;
        transition: 0.225s linear;
        &:focus,
        &:hover {
          outline: none;
        }
        &:focus::placeholder {
          opacity: 0;
        }
      }
    }
    &--focus {
      background: $btn-hover;
    }

    // @media (max-width: 1000px) {
    //   width: 100%;
    //   border: solid 1px rgba(0, 0, 0, 0.15);
    //   padding: 0 0 0 10px;

    //   .search__input {
    //     &:focus,
    //     &:hover {
    //       box-shadow: none;
    //     }
    //   }
    // }
  }
  &__sexes {
    width: 150px;
    position: relative;
    margin-right: 40px;
    .sexes {
      &__btn {
        width: 100%;
        height: 70px;
        margin-bottom: 10px;
        background: white;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        .icon-wrapper {
          fill: $text-color;
          transition: 0.225s linear;
        }
        .sexe {
          &__icon {
            &--female-symbol,
            &--male-symbol {
              pointer-events: none;
              width: 35px;
              height: 35px;
              svg {
                height: 100%;
                width: 100%;
              }
            }
            &--female-symbol {
              width: 30px;
              height: 40px;
            }
          }
        }
        .tooltip {
          position: absolute;
          top: 80%;
          left: 50%;
          transform: translate(-50%, 0);
          opacity: 0;
          min-width: 220px;
        }
        &:not(.selected) {
          .icon-wrapper {
            opacity: 0.25;
          }
        }
        &:focus {
          outline: none;
        }
        &:hover {
          background-color: $btn-hover;
          .icon-wrapper {
            fill: black;
          }
          .tooltip {
            top: calc(100% + 10px);
            opacity: 1;
          }
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -20px;
      height: calc(100% - 10px);
      width: 2px;
      background-color: $text-color;
    }
  }

  // Blocks
  &__groupe {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    .groupe {
      margin-right: 10px;
      margin-bottom: 10px;
      max-height: 70px;
      border: none;
      padding: 0;
      pointer-events: none;
      position: relative;
      background: white;
      &__checkbox {
        pointer-events: auto;
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        appearance: none;
        outline: none;
      }
      &__img-container {
        width: 110px;
        height: 70px;
        padding: 2px;
        position: relative;
        z-index: 2;
        img {
          object-fit: contain;
          height: 100%;
          width: 100%;
          margin: 0px;
        }
      }
      &__background-color {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 1;
        filter: grayscale(0);
        transition: opacity 0.225s linear, filter 0.225s linear,
          border-radius 0.1s linear;
        &:not(.selected) {
          opacity: 0.15;
          filter: grayscale(1);
        }
      }
      .tooltip {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        z-index: 3;
        top: 80%;
        opacity: 0;
        min-width: 200px;
      }
      &:hover {
        .groupe__background-color {
          opacity: 0.5;
          &:not(.selected) {
            opacity: 0.15;
            filter: grayscale(0.15);
          }
        }
        .tooltip {
          opacity: 1;
          top: calc(100% + 10px);
        }
      }
      &:focus {
        outline: none;
        border: none;
      }
      &::before,
      &::after {
        z-index: 3;
        content: "";
        position: absolute;
        top: 0px;
        width: 0%;
        height: 10px;
        background: white;
      }
      &::after {
        right: 0px;
        transform-origin: top right;
        transform: rotate(-23deg);
        transition: width 0.225s ease-in-out;
      }
      &::before {
        left: 0px;
        transform-origin: top left;
        transform: rotate(23deg);
        transition: width 0.4s ease-in-out;
        display: none;
      }
      &:not(.selected) {
        &::after,
        &::before {
          width: 112%;
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0px;
      height: 1px;
      width: 100%;
      background-color: $text-color;
      z-index: -1;
      opacity: 0.5;
    }

    // @media (max-width: 2000px) {
    //   padding-left: 0px;
    //   justify-content: flex-start;
    //   &::after {
    //     display: none;
    //   }
    //   .groupe {
    //     top: 5px;
    //     margin-bottom: 10px;
    //     &__img-container {
    //       width: 100px;
    //     }
    //   }
    // }
    // @media (max-width: 600px) {
    //   padding-right: 0px;
    //   justify-content: center;
    //   .groupe {
    //     &__img-container {
    //       width: 80px;
    //     }
    //   }
    //   .groupes {
    //     &__allornone {
    //       display: none;
    //     }
    //   }
    // }
  }
  &__allornone {
    width: 95px;
    margin-left: 10px;
    button {
      margin-bottom: 10px;
      background: white;
      width: 100%;
      height: 70px;
      border: none;
      color: $text-color;
      font-family: $font;
      font-size: 15px;
      font-weight: 900;
      text-transform: uppercase;
      cursor: pointer;
      .icon-wrapper {
        pointer-events: none;
        margin: 0 auto;
        width: 20px;
        height: 20px;
        svg {
          width: 100%;
          fill: $text-color;
        }
      }
      &:hover {
        color: black;
        background-color: $btn-hover;
        svg {
          fill: black;
        }
      }
      &:focus {
        outline: none;
        border: none;
      }
    }
  }
  // &__total-results {
  //   display: flex;
  //   align-items: center;
  //   position: relative;
  //   padding: 0 50px;
  //   font-family: $font;
  //   cursor: default;
  //   h2 {
  //     margin-bottom: 0px;
  //     font-weight: normal;
  //     font-size: 14px;
  //     display: flex;
  //     align-items: center;
  //     strong {
  //       font-family: $roboto;
  //       font-size: 40px;
  //       font-weight: bold;
  //       padding-right: 5px;
  //     }
  //   }
  //   .tooltip {
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, 0);
  //     opacity: 0;
  //   }
  //   &:hover {
  //     color: black;
  //     .tooltip {
  //       top: 90%;
  //       opacity: 1;
  //     }
  //   }

  //   // @media (max-width: 500px) {
  //   //   padding: 0 25px;
  //   // }
  // }
  &__order {
    width: 25%;
    background: grey;
  }

  //Slider
  .axis {
    position: absolute;
    text-align: center;
    font-family: $font;
    font-weight: bold;
    font-size: 14px;
    &.xValue {
      bottom: -100px;
      width: 100%;
    }
    &.yValue {
      transform: rotate(90deg) translateY(-50%);
      top: 50%;
      right: -20px;
    }
  }

  &__reset {
    width: 100%;
    button {
      width: 100%;
      height: 70px;
      border: none;
      background-color: white;
      font-family: $font;
      align-items: center;
      color: $text-color;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &:hover {
        background: $btn-hover;
        color: black;
        opacity: 1;
        svg {
          fill: black;
          animation: rotate 2s ease-in-out infinite;
        }
      }
      svg {
        fill: $text-color;
        width: 30px;
        transform-origin: center;
        transform: rotate(0deg);
        transition: 0.225s linear;
        pointer-events: none;
      }
    }

    // @media (max-width: 1000px) {
    //   width: 50%;
    //   justify-content: center;
    // }
    // @media (max-width: 600px) {
    //   width: 100%;
    // }
  }
}
