.filters {
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;

  //search field
  &__search {
    background: white;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
    .search {
      &__icon {
        width: 35px;
        margin-left: 20px;
        pointer-events: none;
        svg {
          fill: $text-color;
        }
      }
      &__input {
        display: block;
        width: 100%;
        margin: 0;
        margin-left: 20px;
        padding: 10px;
        border: none;
        background: none;
        font-family: $font;
        font-size: 24px;
        line-height: normal;
        transition: 0.225s linear;
        &:focus,
        &:hover {
          outline: none;
        }
        &:focus::placeholder {
          opacity: 0;
        }
      }
    }
    &--focus {
      background: $btn-hover;
    }
  }

  //sex / group / allornone group
  &__middle-line {
    display: flex;
    margin-top: 20px;
  }

  //sex buttons
  &__sexes {
    width: 150px;
    position: relative;
    margin-right: 40px;
    .sexes {
      &__btn {
        width: 100%;
        height: calc(50% - 10px);
        margin-bottom: 10px;
        background: white;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        .icon-wrapper {
          fill: $text-color;
          transition: 0.225s linear;
        }
        .sexe {
          &__icon {
            &--female-symbol,
            &--male-symbol {
              pointer-events: none;
              width: 35px;
              height: 35px;
              svg {
                height: 100%;
                width: 100%;
              }
            }
            &--female-symbol {
              width: 30px;
              height: 40px;
            }
          }
        }
        .tooltip {
          position: absolute;
          top: 80%;
          left: 50%;
          transform: translate(-50%, 0);
          opacity: 0;
          min-width: 220px;
        }
        &:not(.selected) {
          .icon-wrapper {
            opacity: 0.25;
          }
        }
        &:focus {
          outline: none;
        }
        &:hover {
          background-color: $btn-hover;
          .icon-wrapper {
            fill: black;
          }
          .tooltip {
            top: calc(100% + 10px);
            opacity: 1;
          }
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -20px;
      height: calc(100% - 10px);
      width: 2px;
      background-color: $text-color;
    }
  }

  // Blocks
  &__groupe {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    .groupe {
      margin-right: 10px;
      margin-bottom: 10px;
      max-height: 70px;
      border: none;
      padding: 0;
      pointer-events: none;
      position: relative;
      background: white;
      &__checkbox {
        pointer-events: auto;
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        appearance: none;
        outline: none;
      }
      &__img-container {
        width: 110px;
        height: 70px;
        padding: 2px;
        position: relative;
        z-index: 1;
        img {
          object-fit: contain;
          height: 100%;
          width: 100%;
          margin: 0px;
        }
      }
      &__background-color {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 1;
        filter: grayscale(0);
        transition: opacity 0.225s linear, filter 0.225s linear,
          border-radius 0.1s linear;
        &:not(.selected) {
          opacity: 0.15;
          filter: grayscale(1);
        }
      }
      .tooltip {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        z-index: 3;
        top: 80%;
        opacity: 0;
        min-width: 200px;
      }
      &:hover {
        .groupe__background-color {
          opacity: 0.5;
          &:not(.selected) {
            opacity: 0.15;
            filter: grayscale(0.15);
          }
        }
        .tooltip {
          opacity: 1;
          top: calc(100% + 10px);
        }
      }
      &:focus {
        outline: none;
        border: none;
      }
      &::before,
      &::after {
        z-index: 1;
        content: "";
        position: absolute;
        top: 0px;
        width: 0%;
        height: 10px;
        background: white;
      }
      &::after {
        right: 0px;
        transform-origin: top right;
        transform: rotate(-23deg);
        transition: width 0.225s ease-in-out;
      }
      &::before {
        left: 0px;
        transform-origin: top left;
        transform: rotate(23deg);
        transition: width 0.4s ease-in-out;
        display: none;
      }
      &:not(.selected) {
        &::after,
        &::before {
          width: 112%;
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0px;
      height: 1px;
      width: 100%;
      background-color: $text-color;
      z-index: -1;
      opacity: 0.5;
    }
  }

  //all buttons
  &__allornone {
    width: 95px;
    button {
      margin-bottom: 10px;
      background: white;
      width: 100%;
      height: calc(50% - 10px);
      border: none;
      color: $text-color;
      font-family: $font;
      font-size: 15px;
      font-weight: 900;
      text-transform: uppercase;
      cursor: pointer;
      .icon-wrapper {
        pointer-events: none;
        margin: 0 auto;
        width: 20px;
        height: 20px;
        svg {
          width: 100%;
          fill: $text-color;
        }
      }
      &:hover {
        color: black;
        background-color: $btn-hover;
        svg {
          fill: black;
        }
      }
      &:focus {
        outline: none;
        border: none;
      }
    }
  }

  &__order {
    width: 25%;
    background: grey;
  }

  //Slider
  &__slider {
    position: relative;
    height: 80px;
    margin-left: 17px;
    margin-top: 5px;
    margin-right: 100px;
    pointer-events: none;

    &-label {
      position: absolute;
      right: -80px;
      top: 16px;
      font-weight: bold;
    }
  }

  //reset button
  &__reset {
    width: 100%;
    button {
      width: 100%;
      height: 70px;
      border: none;
      background-color: white;
      font-family: $font;
      align-items: center;
      color: $text-color;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &:hover {
        background: $btn-hover;
        color: black;
        opacity: 1;
        svg {
          fill: black;
          animation: rotate 2s ease-in-out infinite;
        }
      }
      svg {
        fill: $text-color;
        width: 30px;
        transform-origin: center;
        transform: rotate(0deg);
        transition: 0.225s linear;
        pointer-events: none;
      }
    }
  }

  //chart frame
  .frame-chart {
    min-width: 700px;
    margin: 0 0 0 40px;
    &__content {
      margin: auto 0;
      .chart {
        height: 350px;
        width: 100%;
        outline: none;
        &.piechart,
        &.barchart {
          background: rgba(black, 0);
          transition: 0.225s linear;
          cursor: pointer;
          &:hover {
            background: rgba(black, 0.05);
          }
        }
        &.piechart {
          svg g text {
            &[text-anchor="middle"] {
              font-size: 22px !important;
              font-weight: bold;
            }
          }
        }
        &.complex-barchart {
          width: 70%;
          position: relative;
        }
        .chart-wrapper {
          height: 100%;
        }
      }
    }

    @media (max-width: 1500px) {
      display: none;
    }
  }

  //responsive
  @media (max-width: 850px) {
    .frame-filters {
      padding: 20px;
    }

    &__middle-line {
      flex-direction: column;
    }

    &__sexes {
      display: flex;
      width: calc(100% + 10px);
      margin-bottom: 10px;
      .sexes {
        &__btn {
          height: 70px;
          margin-right: 10px;
        }
      }

      &::after {
        display: none;
      }
    }

    &__groupe {
      justify-content: center;
      width: calc(100% + 10px);
    }

    &__allornone {
      display: flex;
      width: calc(100% + 10px);
      margin-top: 10px;
      button {
        height: 70px;
        margin-right: 10px;
      }
    }

    &__slider {
      margin-right: 17px;
      &-label {
        right: unset;
        top: -5px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }
}
