.frame-filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .filters {
    @import "filters/search";
    @import "filters/sexes";
    @import "filters/groupes";

    //sex / group / allornone group
    &__middle-line {
      display: flex;
      margin-top: 20px;
    }

    &__order {
      width: 25%;
      background: grey;
    }

    //Slider
    $labelSize: 100px;
    &__age-slider {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      .MuiSlider-root {
        width: calc(100% - #{$labelSize});
        color: #4d4d4d;
      }
      .MuiSlider-valueLabel {
        font-family: "Open Sans";
        font-weight: bold;
      }
    }
    &__slider-label {
      width: $labelSize;
      font-weight: bold;
      text-align: center;
      margin-left: 20px;
    }
  }
  //responsive
  @media (max-width: 875px) {
    padding: 20px;

    .frame {
      &__content {
        display: flex;
        flex-direction: column;
      }
    }

    .filters {
      &__search {
        order: 0;
      }

      &__middle-line {
        display: block;
        margin-top: 0;
        order: 2;
      }

      &__sexes {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
        .sexes {
          &__btn {
            height: 60px;
            width: 100%;

            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        &::after {
          display: none;
        }
      }

      &__groupe {
        justify-content: center;
        width: calc(100% + 10px);
      }

      &__allornone {
        display: flex;
        width: calc(100% + 10px);
        margin: 10px 0;
        button {
          height: 70px;
          margin-right: 10px;
        }
      }

      &__age-slider {
        order: 1;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
        .MuiSlider-root {
          width: calc(100% - 20px);
        }
      }
      &__slider-label {
        order: -1;
        margin: 0;
      }
    }

    .reset__btn {
      width: 100%;
      margin: 10px 0;
      button {
        height: 60px;
      }
    }
  }
}
