.frame-filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .filters {
    @import "filters/search";
    @import "filters/sexes";
    @import "filters/groupes";

    //sex / group / allornone group
    &__middle-line {
      display: flex;
      margin-top: 20px;
    }

    &__order {
      width: 25%;
      background: grey;
    }

    //Slider
    &__slider {
      position: relative;
      height: 60px;
      margin-left: 17px;
      margin-right: 100px;
      pointer-events: none;

      &-label {
        position: absolute;
        right: -80px;
        top: 16px;
        font-weight: bold;
      }
    }
  }
  //responsive
  @media (max-width: 875px) {
    padding: 20px;

    .frame {
      &__content {
        display: flex;
        flex-direction: column;
      }
    }

    .filters {
      &__search {
        order: 0;
      }

      &__middle-line {
        display: block;
        margin-top: 0;
        order: 2;
      }

      &__sexes {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
        .sexes {
          &__btn {
            height: 60px;
            width: 100%;

            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        &::after {
          display: none;
        }
      }

      &__groupe {
        justify-content: center;
        width: calc(100% + 10px);
      }

      &__allornone {
        display: flex;
        width: calc(100% + 10px);
        margin: 10px 0;
        button {
          height: 70px;
          margin-right: 10px;
        }
      }

      &__slider {
        margin-top: 20px;
        margin-right: 17px;
        margin-bottom: 10px;
        order: 1;
        &-label {
          right: unset;
          top: -5px;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
    }

    .reset__btn {
      width: 100%;
      margin: 10px 0;
      button {
        height: 60px;
      }
    }
  }
}
