/*----------------------------------------------------*/
// Loading screen
/*----------------------------------------------------*/

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, $main-color, $secondary-color);
  z-index: 10001;
  // pointer-events: none;

  // transform: scaleX(0);
  // transform-origin: right;

  // &.loading {
  //   transform-origin: left;
  // }
}
