/*----------------------------------------------------*/
// Variables
/*----------------------------------------------------*/

$roboto: "Roboto Slab", "Open Sans", sans-serif;
$opensans: "Open Sans", sans-serif;

$font: $opensans;
$font-title: $roboto;

$grey: #4d4d4d;
$teal: #30e3ca;
$turquoise: #19dde3;

$main-color: $turquoise;
$secondary-color: $teal;
$text-color: $grey;
