/*----------------------------------------------------*/
// Variables
/*----------------------------------------------------*/

@import "easing";

$roboto: "Roboto Slab", "Open Sans", sans-serif;
$opensans: "Open Sans", sans-serif;

$font: $opensans;
$font-title: $roboto;
