/*----------------------------------------------------*/
// Variables
/*----------------------------------------------------*/

$roboto: "Roboto Slab", "Open Sans", sans-serif;
$opensans: "Open Sans", sans-serif;

$font: $opensans;
$font-title: $roboto;

$grey: #121231;
$teal: #454545;
$turquoise: #236598;

$main-color: $turquoise;
$secondary-color: $teal;
$text-color: $grey;
