/*----------------------------------------------------*/
// Button
/*----------------------------------------------------*/

.btn {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 20px;
  margin: 0;

  min-width: 100px;
  min-height: 60px;

  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border: none;

  color: $white;
  background-color: white;

  // Children components
  .icon-wrapper {
    transition: fill 0.2s $ease-in-out-cubic, transform 0.4s $ease-in-out-cubic;
    transform: scale(0.75);

    pointer-events: none;
    svg * {
      fill: $text-color;
    }
  }

  // colors
  &[color] {
    &.btn--main {
      background-color: rgba($main-color, 0);
      border-color: $main-color;
      .icon-wrapper svg * {
        fill: $main-color;
      }
      &.checked {
        background-color: rgba($main-color, 1);
        .icon-wrapper svg * {
          fill: $white;
        }
      }

      .tooltip {
        &__title {
          color: $main-color;
        }
      }
    }
    &.btn--secondary {
      background-color: rgba($secondary-color, 0);
      border-color: $secondary-color;
      .icon-wrapper svg * {
        fill: $secondary-color;
      }
      &.checked {
        background-color: rgba($secondary-color, 1);
        .icon-wrapper svg * {
          fill: $white;
        }
      }

      .tooltip {
        &__title {
          color: $secondary-color;
        }
      }
    }
  }

  // Types
  @import "checkbox";
  @import "reset";

  transition: background-color 0.5s $ease-in-out-cubic,
    border-color 0.2s $ease-in-out-cubic;

  cursor: pointer;

  // Tooltip inside the button
  .tooltip {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    min-width: 220px;
  }

  // States
  &:focus {
    outline: none;
  }
  &:hover {
    .tooltip {
      top: calc(100% + 10px);
      opacity: 1;
      transition-delay: 0.5s;
    }
    .icon-wrapper {
      transform: scale(1);
    }
  }
}
