/*----------------------------------------------------*/
// Icon button
/*----------------------------------------------------*/

&--icon {
  min-width: auto;
  padding: 0;

  .icon-wrapper {
    transform: scale(1);
  }
}
