.depute__sex-wrapper {
    width: 10%;
    margin-right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
.depute__sex-wrapper img {
    width: 75%;
}
