@import "../../styles/global/easing";

.accropolis {
  // Global
  &__container {
    //
  }
  &__inner {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    margin: 0px 0px 100px;
  }
  &__depute {
    position: relative;
    display: flex;
    align-items: center;

    overflow: hidden;

    transform-origin: left;

    border-radius: 10px;
    margin: 0;
    z-index: 1;

    color: white;
  }

  // Background
  &__background,
  &__background2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  &__background {
    z-index: 2;
  }
  &__background2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(white, 1);

    z-index: 1;
  }

  // Image
  &__image {
    position: relative;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    height: 150px;
    width: 110px;
    z-index: 4;
    img {
      max-width: unset;
      margin: 0;
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  // Text content
  &__text {
    position: relative;
    padding: 20px 40px 20px 20px;
    z-index: 3;
    h2,
    p {
      margin: 0;
    }
  }
  &__name,
  &__group {
    position: relative;
  }

  // Question
  &__question {
    position: relative;
    z-index: 0;
    margin-left: 110px;
    padding: 5px 10px;
    background: white;
    border-radius: 10px 10px 0px 0px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  // Map
  $map-size: 200px;
  &__map {
    position: relative;
    z-index: 3;
    overflow: hidden;
    width: $map-size;
  }
  &__mapinner {
    position: relative;
    width: $map-size;
    height: 150px;
  }
  &__geography {
    position: absolute;
    right: 0;
    top: calc(100% - 15px);

    width: $map-size;
    padding: 20px 10px 5px;
    border-radius: 0 0px 10px 10px;

    font-size: 12px;
    text-align: center;
    font-weight: bold;
    background-color: #ddd;
    color: #000;

    line-height: 1.25;

    z-index: 0;
  }

  // Controls
  &__controls {
    padding: 20px;
    width: 100%;
  }
  &__navigation {
    display: flex;
    flex-wrap: wrap;
  }
}

$spacing: 10px;
$button-color: black;
.controls {
  &__next,
  &__prev {
    display: inline-flex;
    justify-content: center;
    margin: 0 $spacing 10px 0;
    width: 200px;
    padding: 30px 20px;
    border: solid 5px $button-color;
    background-color: rgba($button-color, 0.05);
    border-radius: 20px;
    cursor: pointer;

    transition: background-color 0.2s $ease-in-out-cubic;

    &:hover {
      background-color: rgba($button-color, 0.25);
    }
    & > div {
      width: 50px;
      position: relative;
      justify-content: center;
    }
    svg {
      position: relative;
      path {
        fill: $button-color;
      }
    }
  }
  &__next {
    &:hover {
      svg {
        left: 10px;
      }
    }
    svg {
      transform: rotate(-90deg) translateY(4px);
      left: 0px;
      transition: left 0.2s $ease-in-out-cubic;
    }
  }
  &__prev {
    &:hover {
      svg {
        right: 10px;
      }
    }
    svg {
      transform: rotate(90deg) translateY(4px);
      right: 0px;
      transition: right 0.2s $ease-in-out-cubic;
    }
  }
}
// Navigation
.navigation {
  &__number {
    font-size: 20px;
    margin: 0;
  }
  &__btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    width: 200px;
    min-height: 75px;
    font-size: 12px;
    line-height: 1.25;
    border: none;
    margin: $spacing $spacing 0 0;
    cursor: pointer;

    outline: 5px solid rgba($button-color, 0);
    transition: outline 0.2s $ease-in-out-cubic;
    &:focus {
      outline: 5px solid rgba($button-color, 1) !important;
    }
  }
  &__name {
    margin: 5px 0 0 0;
    text-align: center;
    width: 100%;
  }
  &__active {
    outline: 5px solid rgba($button-color, 1);
  }
}
