/* .search {
    position: absolute;
    top: 60px; right: 20px;
} */

.search {
    margin-bottom: 20px;
}

.deputies__list {
    /* margin-top: 120px; */
    position: relative;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    padding: 0px;
    margin: 0px;
}