.filters {
  margin-bottom: 20px;
}
.filters__search {
  margin: 0;
}
.filters__groupe {
  display: inline-flex;
  /* flex-direction: column;
  width: 200px;
  height: 50px;
  overflow: hidden;
  margin-left: 20px; */
}
.groupe__visible {
  /* width: 200px;
  line-height: 50px;
  background: red; */
}

.deputies__list {
  position: relative;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  padding: 0px;
  margin: 0px;
}
