.filters {
  margin-bottom: 20px;
}
.filters__search {
  margin: 0;
}
.filters__groupe {
  display: flex;
}
.groupes__allornone {
  display: flex;
  flex-direction: column;
}

.deputies__list {
  position: relative;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  padding: 0px;
  margin: 0px;
}
