/* Style du député */
.depute {
    position: relative;
    width: calc(25% - 10px);
    background: grey;
    display: inline;
    padding: 10px 10px 75px 10px;
    margin-bottom: 5px;
    text-decoration: none;
    color: white;
}
.depute--opened-false {
    /*  */
}
.depute--opened-true {
    /*  */
}

/* Wrapper du nom */
.depute__name-wrapper {
    display: flex;
    margin-bottom: 2px;
}

/* Wrapper liens réseaux sociaux */
.depute__rs-wrapper {
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    flex-direction: column;
}

/* Liens sites AN & nosdeputes.fr */
.depute .depute__link-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}
.depute .depute__link {
    width: calc(50% - 1px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: rgba(255,255,255,0.25);
    text-align: center;
    padding: 5px;
}
.depute .depute__an-link {
    /*  */
}
.depute .depute__nosdepute-link {
    /*  */
}

/* Icône de flèche */
.depute > .btn {
    width: 100%;
    background: none;
    border: none;
    position: absolute;
    bottom: 10px; left :0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.depute > .btn > img {
    max-height: 20px;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}
.depute.depute--opened-true > .btn > img {
    transform: rotate(180deg);
}