@font-face {
  font-family: "Augora";
  src: url("../fonts/augora/Augora.eot");
  src: url("../fonts/augora/Augora.eot?#iefix") format("embedded-opentype"),
    // url("../fonts/augora/Augora.svg#Augora") format("svg"),
      url("../fonts/augora/Augora.ttf") format("truetype"),
    url("../fonts/augora/Augora.woff") format("woff"),
    url("../fonts/augora/Augora.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
