/*----------------------------------------------------*/
// Bloc Contact
/*----------------------------------------------------*/
.block__groupes {
  position: relative;
  .groupes {
    // &__content {
    //   align-items: center;
    //   justify-content: center;
    // }
    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 900;
    }
    &__role {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 900;
    }
    &__nom {
      display: flex;
      width: 50%;
      height: 50%;
      max-height: 100%;
      max-width: 100%;
      align-items: center;
      justify-content: center;
      margin: auto;
      padding-top: 10px;
      padding-bottom: 30px;
    }
  }
  .rattachement {
    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 900;
    }
    &__image {
      display: flex;
      width: 50%;
      height: 50%;
      max-height: 100%;
      max-width: 100%;
      align-items: center;
      justify-content: center;
      margin: auto;
      padding-top: 10px;
      padding-bottom: 30px;
    }
    &__nom {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-weight: 900;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}
