/*----------------------------------------------------*/
// Bloc Contact
/*----------------------------------------------------*/
.block__groupe {
  position: relative;

  .groupe,
  .rattachement {
    max-width: 80%;
    &__logo {
      height: 150px;
      margin: 0 auto;
      padding: 15px 0;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .groupe {
    &__content {
      justify-content: space-around;
      align-items: center;
      text-align: center;
    }
    &__title {
      font-weight: 900;
    }

    &__role {
      text-transform: capitalize;
    }
  }

  .rattachement {
    &__title,
    &__nom {
      font-weight: 900;
    }
    &__png {
      img {
        margin-bottom: 0;
        height: 100%;
        width: auto;
      }
    }
  }
}
