/*----------------------------------------------------*/
// Block Collaborateurs
/*----------------------------------------------------*/
.block__coworkers {
  .coworkers__header {
    //
  }
  .deputy__coworkers {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    max-height: 100%;
    justify-content: center;
    .coworker__name {
      margin: 0;
      text-transform: capitalize;
    }
    .coworker__name-title {
      display: block;
      text-transform: uppercase;
      font-weight: 900;
    }
  }
}
