.block__map {
  .header__title {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    sup {
      font-size: 0.6em;
    }
  }

  .map {
    &__content {
      padding: 0px;
      height: calc(100% - 75px);
    }
    &__container {
      width: 100%;
      height: 100%;

      overflow: hidden;
      border-radius: 0 0 5px 5px;
    }
    &__redirect {
      top: 0;
      width: 100%;
      height: 100%;
      background: white;
      opacity: 0;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      position: absolute;
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-size: 30px;
    }
  }
  &:hover {
    .map {
      &__title {
        color: rgba(black, 1);
      }
      &__number {
        opacity: 1;
      }
      &__title,
      &__number {
        background: rgba(white, 0.75);
      }
    }
  }
}
