/*----------------------------------------------------*/
// Block Mandat
/*----------------------------------------------------*/
.block__mandate {
  .mandate {
    &__content {
      align-items: center;
      text-align: center;
    }
    &__number,
    &__dates {
      height: 30%;
    }
    &__number {
      .number {
        &__holder {
          font-size: 60px;
          font-weight: 800;
          line-height: 1;
          sup {
            font-size: 60%;
          }
        }
        &__title {
          color: $text-color;
          text-transform: uppercase;
          text-align: center;
          font-weight: bold;
          transition: opacity 0.225s linear;
        }
      }
    }
    &__dates {
      display: flex;
      align-items: center;
      gap: 50px;
    }
    &__since {
      p {
        margin-bottom: 0;
        /* CSS specific to iOS devices */
        @supports (-webkit-touch-callout: none) {
          margin-bottom: 18px;
        }
        strong {
          color: $text-color;
        }
        span {
          font-size: 40px;
          font-weight: 900;
          display: inline-block;
          line-height: 1;
        }
      }
    }
    &__begin {
      p {
        font-weight: bold;
        margin-bottom: 0;
        span {
          font-size: 22px;
        }
        &.begin__year {
          font-size: 30px;
          font-weight: 900;
          margin-top: 5px;
          line-height: 1;
        }
      }
    }
  }
}
