/*----------------------------------------------------*/
// Bloc Présence parlementaire
/*----------------------------------------------------*/
.block__presence {
  .presence {
    &__legend {
      position: absolute;
      width: 100%;
      bottom: 0;
      display: flex;
      justify-content: center;
      @media (max-width: 875px) {
        columns: 2;
        display: table-column;
      }
    }
    svg {
      overflow: visible;
    }
  }
}

.visx-crosshair {
  z-index: 2;
}
