/*----------------------------------------------------*/
// Block Collaborateurs
/*----------------------------------------------------*/
.block__coworkers {
  .coworkers__header {
    //
  }
  .deputy__coworkers {
    text-align: center;
    .coworker__name {
      margin: 0;
    }
    .coworker__name-title {
      display: block;
      text-transform: uppercase;
      font-weight: 900;
    }
    .coworker__name-content {
      text-transform: capitalize;
    }

    .coworkers__coworker--compact {
      margin-bottom: 8px;
      .coworker__name-title {
        display: inline;
        margin-right: 5px;
      }
    }
  }
}
