/*----------------------------------------------------*/
// Bloc Présence parlementaire
/*----------------------------------------------------*/
.block__presence {
  .presence {
    &__legend {
      position: absolute;
      width: 100%;
      bottom: 0;
      display: flex;
      justify-content: center;
    }
  }
}

.visx-crosshair {
  z-index: 2;
}
