/*----------------------------------------------------*/
// Bloc Commission
/*----------------------------------------------------*/
.block__commission {
  position: relative;
  .commission {
    &__nom {
      display: flex;
      text-align: center;
      margin: 0 auto 0 auto;
      // font-weight: 600;
      word-break: normal;
      max-width: 260px;
    }
    &__responsabilite {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: 800;
      font-size: 28px;
      text-transform: uppercase;
    }
  }
}
