/*----------------------------------------------------*/
// Bloc Contact
/*----------------------------------------------------*/
.block__contact {
  position: relative;
  .contact {
    &__content {
      & > .icon-wrapper {
        height: calc(75% - 75px);
        opacity: 0.04;
      }
    }
    &__adresse {
      display: flex;
      flex-direction: column;
      align-items: center;
      button,
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        margin: 0 auto;
        text-align: center;
        cursor: pointer;
        position: relative;
        padding: 0;
        text-decoration: none;

        p {
          margin: 0;
        }

        &.contact__tel {
          color: var(--groupe-color);
          font-weight: bold;
          font-size: 20px;
          opacity: 0.9;
          margin-top: 20px;
        }

        .copy__icon,
        .tel__icon {
          content: "";
          position: absolute;
          right: -10px;
          top: 50%;
          display: block;
          margin-left: 10px;
          width: 24px;
          height: 24px;
          transform: translate(100%, 0%);
          opacity: 0;
          transition: 0.225s linear;
          svg {
            width: 100%;
            path {
              fill: var(--groupe-color);
            }
          }
        }
        &:focus {
          outline: none;
        }
        &:hover {
          p {
            color: var(--groupe-color);
          }
          .tel__icon,
          .copy__icon {
            transform: translate(100%, -50%);
            opacity: 0.75;
          }
          &.contact__tel {
            opacity: 1;
          }
        }
      }
    }
    &__separator {
      width: 50%;
      height: 1px;
      top: 100%;
      margin: 0 auto;
      // transform: translate(-50%, 0);
      background-color: var(--theme-black-color);
    }
  }
}
