.page__deputies {
  padding-top: 40px;

  .filters__section {
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 100px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;

    .frame-filters {
      margin: 0;
      display: block;
      grid-column-end: span 6;
      grid-row-end: span 3;
      height: 100%;
    }

    .frame-chart {
      min-width: 30vw;
      grid-column-end: span 4;
      grid-row-end: span 3;
      .frame__content {
        .no-deputy {
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: center;
          min-height: calc(100% - 50px);
        }
      }
    }

    // Media queries

    @media (max-width: 1550px) {
      grid-auto-rows: 50px;
      .frame-filters {
        grid-row-end: span 5;
      }
  
      .frame-pie {
        grid-row-end: span 5;
      }
    }

    @media (max-width: 1370px) {
      grid-auto-rows: 50px;
      .frame-filters {
        grid-row-end: span 6;
      }
  
      .frame-pie {
        grid-row-end: span 6;
      }
    }

    @media (max-width: 1250px) {
      grid-auto-rows: 25px;
      grid-column-gap: 25px;
      .frame-filters {
        grid-column-end: span 10;
        grid-row-end: span 6;
      }
  
      .frame-pie {
        grid-column-end: span 10;
      }
    }

    @media (max-width: 950px) {
      grid-auto-rows: 25px;
      .frame-filters {
        grid-row-end: span 7;
      }
    }

    @media (max-width: 880px) {
      grid-auto-rows: 25px;
      .frame-filters {
        grid-row-end: span 8;
      }
  
    }

    @media (max-width: 640px) {
      grid-auto-rows: 25px;
      .frame-filters {
        grid-row-end: span 9;
      }
  
      .frame-pie {
        grid-row-end: span 5;
      }
    }
    @media (max-width: 530px) {
      grid-auto-rows: 25px;
      .frame-filters {
        grid-row-end: span 10;
      }
    }
    @media (max-width: 400px) {
      grid-auto-rows: 25px;
      .frame-filters {
        grid-row-end: span 11;
      }
    }
  }

  // Import styles
  @import "../components/deputies-list/deputies-list";
}
