.page__deputies {
  padding-top: 40px;

  .filters__section {
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(100px, min-content);
    grid-column-gap: 50px;
    grid-row-gap: 50px;

    .frame-filters {
      margin: 0;
      display: block;
      grid-column-end: span 6;
      grid-row-end: span 3;
    }

    .frame-chart {
      min-width: 30vw;
      grid-column-end: span 4;
      grid-row-end: span 3;
      .frame__content {
        .no-deputy {
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: center;
          min-height: calc(100% - 50px);
        }
      }
    }

    // Media queries

    @media (max-width: 1550px) {
      grid-auto-rows: minmax(50px, min-content);
      .frame-filters {
        grid-row-end: span 5;
      }

      .frame-pie {
        grid-row-end: span 5;
      }
    }

    @media (max-width: 1370px) {
      grid-auto-rows: minmax(50px, min-content);
      .frame-filters {
        grid-row-end: span 6;
      }

      .frame-pie {
        grid-row-end: span 6;
      }
    }

    @media (max-width: 1250px) {
      grid-auto-rows: minmax(25px, min-content);
      grid-column-gap: 25px;
      .frame-filters {
        grid-column-end: span 10;
        grid-row-end: span 6;
      }

      .frame-pie {
        grid-column-end: span 10;
      }
    }

    @media (max-width: 950px) {
      grid-auto-rows: minmax(25px, min-content);
      .frame-filters {
        grid-row-end: span 7;
      }
    }

    @media (max-width: 880px) {
      grid-auto-rows: minmax(25px, min-content);
      .frame-filters {
        grid-row-end: span 8;
      }
    }

    @media (max-width: 640px) {
      grid-auto-rows: minmax(25px, min-content);
      .frame-filters {
        grid-row-end: span 9;
      }

      .frame-pie {
        grid-row-end: span 5;
      }
    }
    @media (max-width: 530px) {
      grid-auto-rows: minmax(25px, min-content);
      .frame-filters {
        grid-row-end: span 10;
      }
    }
    @media (max-width: 400px) {
      grid-auto-rows: minmax(25px, min-content);
      .frame-filters {
        grid-row-end: span 11;
      }
    }
  }

  .wikipedia__section {
    .frame {
      max-width: none;
      margin-bottom: 70px;
      &__header {
        .header__title {
          display: flex;
          flex-wrap: wrap;
          max-width: 80%;
        }
      }
      &__content {
        color: $text-color;
        .lien {
          background-color: transparent;
          position: absolute;
          top: 10px;
          padding: 10px;
          border: none;
          height: 50px;
  
          &__wikipedia {
            right: 50px;
          }
          &__assemblee {
            right: 10px;
          }
          
          .icon-wikipedia {
            width: 30px;
            height: 30px;
            fill: $text-color;
            cursor: pointer;
            &:hover {
              transform: scale(1.1);
            }
          }
          .icon-assemblee {
            width: 30px;
            height: 30px;
            fill: $text-color;
            cursor: pointer;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
    

  // Import styles
  @import "../components/deputies-list/deputies-list";
}
