/*----------------------------------------------------*/
// Page FAQ
/*----------------------------------------------------*/

.page__faq {
  max-width: 1280px;
  margin: 0 auto;

  h1 {
    text-align: center;
  }

  .faq {
    font-family: $opensans;

    &__question {
      &--opened {
        svg rect {
          transform: skew(-25deg) translate3d(0, 0, 0);
          transition: transform 1s $ease-in-out-cubic;
        }
        .faq {
          &__description {
            display: block;
          }
          &__title-container {
            transform: translateY(-5px);
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
            .arrow__icon {
              transform: rotate(180deg);
            }
          }
        }
      }
      &::after {
        content: "";
        display: inline-block;
        border: none;
        border-top: 2px dashed $text-color;
        width: 100%;
        margin: 50px 0;
        opacity: 0.5;
      }
    }

    &__title-container {
      background: linear-gradient(to right, #30e3ca, #19dde3);
      position: relative;
      padding: 20px;
      padding-right: 70px;
      overflow: hidden;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0);
      transform: translateY(0);
      transition: box-shadow 0.2s $ease-in-out-cubic,
        transform 0.2s $ease-in-out-cubic;

      h2 {
        font-family: $opensans;
        position: relative;
        z-index: 1;
        margin-bottom: 0px;
        color: white;
        text-transform: uppercase;
        font-size: 30px;
      }
      .arrow__icon {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 20px;
        transition: 1s $ease-in-out-quint;
        transform-origin: center;
        svg {
          fill: $white;
        }
      }
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
      }
    }
    &__description {
      font-family: $opensans;
      display: none;
      margin-top: 50px;
      margin-bottom: 0px;
      padding: 0 30px;
    }
  }
}

svg rect {
  transition: transform 3s $ease-out-cubic;
}
