/*----------------------------------------------------*/
// Page FAQ
/*----------------------------------------------------*/

.faq {
  font-family: $opensans;

  &__question {
    &--opened {
      svg rect {
        transform: skew(-25deg) translate3d(0, 0, 0) !important;
        transition: transform 1s $ease-in-out-cubic;
      }
      .faq__description {
        display: block;
      }
    }
  }

  &__title-container {
    background: linear-gradient(to right, #30e3ca, #19dde3);
    position: relative;
    padding: 20px;
    overflow: hidden;
    border-radius: 20px;

    margin-top: 40px;
    margin-bottom: 20px;
    h2 {
      font-family: $roboto;
      position: relative;
      z-index: 1;
      margin-bottom: 0px;
      color: white;
      text-transform: uppercase;
      font-size: 40px;
    }
  }
  &__description {
    font-family: $opensans;
    font-weight: bold;
    display: none;
  }
}

svg rect {
  transition: transform 3s $ease-out-cubic;
}
