/*----------------------------------------------------*/
// Home page
/*----------------------------------------------------*/

.page__home {
  padding: 0;

  .panel {
    position: relative;
    width: 100vw;
    height: calc(100vh - 95px);

    display: flex;
    flex-direction: column;
    justify-content: center;

    &__content {
      max-width: 40vw;

      &--right {
        margin-right: 7vw;
        text-align: right;
        align-self: end;
      }
      &--left {
        margin-left: 7vw;
        align-self: start;
      }

      .content {
        &__buttons {
          display: flex;
          justify-content: space-evenly;

          margin-top: 40px;
        }
      }
    }
  }

  .home {
    &__intro {
      height: calc(100vh - 175px);

      .intro {
        &__background {
          position: absolute;
          width: 100%;
          height: 100%;

          display: flex;
          justify-content: center;
          align-items: center;

          overflow: hidden;
          z-index: -1;

          .background {
            &__img {
              width: auto;
              height: auto;
              max-width: unset;
              min-height: 100%;
              margin: 0;
              transform: scale(0.7);
            }
          }

          &::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(black, 0.5);
          }
        }
      }

      .panel {
        &__content {
          color: white;
        }
      }
    }

    &-btn {
      display: flex;
      align-items: center;

      padding: 10px 15px;
      border: none;
      border-radius: 30px;
      background-image: linear-gradient(to right, $secondary-color, $main-color);

      cursor: pointer;

      transition: transform 0.3s $ease-in-out-cubic;

      &__icon {
        width: 40px;
        height: 40px;

        svg {
          height: 100%;
          fill: white;
        }
      }

      &__text {
        margin: 0 5px 0 7px;

        color: white;
        font-weight: bold;
      }

      &:hover {
        transform: scale(1.1);
      }

      &.inverted {
        background-image: none;
        background: white;

        .home-btn {
          &__icon {
            svg {
              fill: $secondary-color;
            }
          }

          &__text {
            background: linear-gradient(to right, $secondary-color, $main-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
  //   padding-bottom: 20vh;
  //   .grid {
  //     display: grid;
  //     height: 250px;

  //     grid-template-columns: repeat(12, 1fr);
  //     grid-gap: 20px;

  //     padding: 20px 0;

  //     & > button {
  //       background: rgba(black, 0.1);
  //       border-radius: 10px;
  //       border: none;
  //       cursor: pointer;
  //     }

  //     h2 {
  //       color: $white;
  //       padding: 10px;
  //     }
  //   }
  // }

  // .home {
  //   &__deputes {
  //     grid-column: 1 / span 3;
  //     .deputes__dummy-grid {
  //       overflow: hidden;
  //       height: 250px;
  //       &:hover {
  //         .deputes__dummy-grid-wrapper {
  //           transform: scale(1.1) translateY(-100%);
  //           transition: transform 10s $ease-in-out-cubic;
  //         }
  //       }
  //     }
  //     .deputes__dummy-grid-wrapper {
  //       display: grid;
  //       grid-template-columns: repeat(12, 1fr);
  //       grid-gap: 5px;

  //       height: 100%;
  //       width: 100%;
  //       transform: scale(1.1) translateY(0);
  //       transition: transform 1s $ease-out-cubic;
  //     }
  //     .deputes__dummy-block {
  //       grid-column-end: span 4;
  //       padding-bottom: 100%;
  //     }
  //   }
  //   &__map {
  //     grid-column: 4 / span 6;
  //   }
  //   &__stats {
  //     grid-column: 10 / span 3;
  //   }
}
