/*----------------------------------------------------*/
// Home page
/*----------------------------------------------------*/

.page__home {
  padding: 0;

  .panel {
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &__content {
      max-width: 40vw;

      .content {
        &__title {
          font-size: 36px;
          background: linear-gradient(to right, $main-color, $secondary-color);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          &--center {
            color: white;
            background: none;
            -webkit-text-fill-color: unset;
          }
        }
        &__subtitle {
          font-size: 24px;
          background: linear-gradient(to right, $main-color, $secondary-color);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          &--center {
            color: white;
            background: none;
            -webkit-text-fill-color: unset;
          }
        }
        &__buttons {
          display: flex;
          justify-content: space-evenly;
          margin-top: 40px;
          &--right {
            justify-content: end;
          }
        }

        &__carousel {
          width: 100vw;
          height: 70%;
          display: flex;
          justify-content: space-between;
          svg {
            overflow: visible;
          }

          .carousel {
            &__content {
              background: white;
              height: 100%;
              width: 80%;
              border-radius: 10px;
              padding: 50px;

              .sexe {
                position: relative;
                top:-30px;
                margin-bottom:-30px;
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                font-weight: bold;
                font-family: "Open Sans";
                color: $darkergrey;
          
                @media (max-width: 1020px) {
                  top:-20px;
                }
              }
              .chart {
                &__number {
                  font-size: 16px;
                  fill: white;
                  font-weight: bold;
                }
                &__axislabel {
                  &.vertical {
                    g > svg > text {
                      transform: translate(-5px, 6px) rotate(-45deg);
                    }
                  }
                  &.bar {
                    g > svg > text {
                      transform: translate(0px, 10px);
                    }
                  }
                  g > svg > text {
                    font-size: 14px;
                    font-weight: 400;
                  }
                }
                &__legend {
                  position: relative;
                  width: 100%;
                  margin-bottom:2px;
                  display: flex;
                  justify-content: center;
                  bottom:-15px;
                  &.pyramide {
                    bottom:-3px;
                  }
        
                  @media (max-width: 1550px) {
                    font-size: 18px;
                  }
                  @media (max-width: 1400px) {
                    font-size: 16px;
                  }
                  @media (max-width: 1020px) {
                    font-size: 14px;
                  }
                  @media (max-width: 950px) {
                    font-size: 12px;
                    margin-left: 2%;
                    display: grid;
                    grid-template-columns: repeat(6, 20%);
                    grid-template-rows: repeat(2, 24px);
                    &.pyramide {
                      bottom: 15px;
                      left: 3%;
                    }
                  }
                  @media (max-width: 585px) {
                      font-size: 16px;
                      margin-left: 5%;
                      grid-template-columns: repeat(4, 25%);
                      grid-template-rows: repeat(3, 20px);
                      bottom:4px;
                    &.pyramide {
                      bottom: 23px;
                      left: 0%;
                    }
                  }
                  @media (max-width: 500px) {
                    margin-left: 14%;
                    grid-template-columns: repeat(3, 50%);
                    grid-template-rows: repeat(4, 25px);
                    bottom: 40px;
                    &.pyramide {
                      grid-template-columns: repeat(3, 50%);
                      grid-template-rows: repeat(4, 20px);
                      bottom:32px;
                    }
                  }
                  @media (max-width: 345px) {
                    bottom: 70px;
                    &.pyramide {
                      left:-5%;
                    }
                  }
                }

                &__sexe {
                    position: absolute;
                    width: 100%;
                    bottom: 17%;
                    left: 0;
                    margin-bottom:2px;
                    display: flex;
                    justify-content: center;
                    
        
                    @media (max-width: 1550px) {
                      font-size: 16px;
                    }
                    @media (max-width: 1400px) {
                      font-size: 18px;
                    }
                    @media (max-width: 1020px) {
                      font-size: 14px;
                    }
                    @media (max-width: 565px) {
                      font-size: 12px;
                  }
                }
              
                &__legend-item, &__sexe-item {
                  display: flex;
                  align-items: center;
                  margin-left: 10px;
                  margin-right: 10px;
                  flex-direction: row;
                  cursor: pointer;
                  
                  .item__label {
                    margin: 0 0 12px;
                    font-size: 12px;
                    font-family: Arial;
                    color: $darkergrey;
                  }
                  .line {
                    text-decoration: line-through;
                  }
                  &:hover {
                    transform: scale(1.05);
                  }
                  svg {
                    width: 25px;
                    height: 25px;
                    margin-bottom: 3px;
                  }
                  .square {
                    &__hommes {
                      fill: $teal;
                    }
                    &__femmes {
                      fill: $turquoise;
                    }
                  }
                  .visx-legend-label {
                    margin-bottom: 12px;
                  }
                  @media (max-width: 875px) {
                    margin-left: 0px;
                    margin-right: 0px;
                  }
                }
                &__sexe-item {
                  .square__femmes {
                    margin-left: 20px;
                  }
                }
              }
              .barchart {
                .visx-bar {
                  cursor: pointer;
                }
              }
            }

            &__arrow {
              width: 10%;
              display: flex;
              align-items: center;
              justify-content: center;

              button {
                height: 100%;
                border: none;
                background: none;
                cursor: pointer;

                svg {
                  width: 30%;
                  min-width: 30px;
                  fill: white;
                }
              }

              &--left {
                button > svg {
                  transform: rotate(90deg);
                }
              }
              &--right {
                button > svg {
                  transform: rotate(-90deg);
                }
              }
            }
          }
        }
      }
    }

    &--right {
      align-items: end;
      .panel {
        &__content {
          margin-right: 7vw;
          text-align: right;
        }
      }
    }

    &--left {
      align-items: start;
      .panel {
        &__content {
          margin-left: 7vw;
        }
      }
    }

    &--center {
      align-items: center;
      .panel {
        &__content {
          color: white;

          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;

          padding: 50px;
          text-align: center;
        }
      }
    }

    &--shared {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__map {
      border-radius: 50%;
      width: 60vh;
      height: 60vh;
      margin-right: 7vw;

      overflow: hidden;
      pointer-events: none;

      .map__redirect {
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 3px solid white;

        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        cursor: pointer;
        pointer-events: auto;

        transition: border-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);

        span {
          max-width: 70%;
          margin-bottom: 10%;
          padding: 10px;
          background: white;
          border-radius: 30px;

          font-size: 18px;
          font-weight: bold;
          text-align: center;
          color: $main-color;
        }

        &:hover {
          border-color: $main-color;
        }
      }
    }

    &__groups {
      margin: 0 auto;
      transform: scale(1.3);

      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(4, 1fr);

      .btn--groupe {
        margin: 0;
      }
    }
  }

  .background {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    z-index: -1;

    &__img {
      width: auto;
      height: auto;
      max-width: unset;
      min-height: 100%;
      margin: 0;
      transform: scale(0.7);

      &--transparent {
        filter: grayscale(1);
        opacity: 0.1;
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, $secondary-color, $main-color);
    }
  }

  .home {
    &__intro {
      // height: calc(100vh - 175px);

      .panel {
        &__content {
          color: white;
        }
      }

      .background {
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0.5;
          background: black;
        }
      }
    }

    &-btn {
      display: flex;
      align-items: center;

      padding: 10px 15px;
      border: 3px solid $secondary-color;
      border-radius: 30px;
      background-image: linear-gradient(to right, $secondary-color, $main-color);
      text-decoration: none;

      cursor: pointer;

      transition: border-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);

      &__icon {
        width: 40px;
        height: 40px;

        svg {
          height: 100%;
          fill: white;
        }
      }

      &__text {
        margin: 0 5px 0 7px;

        color: white;
        font-weight: bold;
      }

      &.inverted {
        background-image: none;
        background: white;
        border-color: white;

        .home-btn {
          &__icon {
            svg {
              fill: $secondary-color;
            }
          }

          &__text {
            background: linear-gradient(to right, $secondary-color, $main-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }

      &:hover {
        // transform: scale(1.1);
        border-color: rgba(white, 0.5);

        &.inverted {
          border-color: $secondary-color;
        }
      }
    }
  }

  @media (max-width: 1500px) {
    .panel {
      &__map {
        width: 40vh;
        height: 40vh;
      }
    }
  }

  @media (max-width: 1200px) {
    .panel {
      &__content {
        max-width: 60vw;
      }

      &--shared {
        .panel__content {
          max-width: 40vw;
        }
      }

      &__groups {
        transform: unset;
      }
    }
  }

  @media (max-width: 875px) {
    .panel {
      &__content {
        max-width: 70vw;
      }

      &--right,
      &--left {
        align-items: center;
        .panel__content {
          text-align: center;
          margin: 0;
        }
      }

      &--shared {
        flex-direction: column;
        justify-content: center;

        .panel__content {
          max-width: 70vw;
        }
      }
    }

    .home {
      &__map > .panel__map {
        position: absolute;
        display: none;
      }

      &__groups {
        justify-content: space-evenly;

        .panel {
          &__content > .content__title {
            position: absolute;
            top: 50px;
            left: 50%;
            transform: translate(-50%, 0);
          }

          &__groups {
            margin-top: 100px;
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    .panel {
      &__content {
        max-width: 100%;
        padding: 0 15px;
      }

      &--shared > .panel__content {
        max-width: 100%;
      }
    }

    .home {
      &__groups > .panel__groups {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  //   padding-bottom: 20vh;
  //   .grid {
  //     display: grid;
  //     height: 250px;

  //     grid-template-columns: repeat(12, 1fr);
  //     grid-gap: 20px;

  //     padding: 20px 0;

  //     & > button {
  //       background: rgba(black, 0.1);
  //       border-radius: 10px;
  //       border: none;
  //       cursor: pointer;
  //     }

  //     h2 {
  //       color: $white;
  //       padding: 10px;
  //     }
  //   }
  // }

  // .home {
  //   &__deputes {
  //     grid-column: 1 / span 3;
  //     .deputes__dummy-grid {
  //       overflow: hidden;
  //       height: 250px;
  //       &:hover {
  //         .deputes__dummy-grid-wrapper {
  //           transform: scale(1.1) translateY(-100%);
  //           transition: transform 10s $ease-in-out-cubic;
  //         }
  //       }
  //     }
  //     .deputes__dummy-grid-wrapper {
  //       display: grid;
  //       grid-template-columns: repeat(12, 1fr);
  //       grid-gap: 5px;

  //       height: 100%;
  //       width: 100%;
  //       transform: scale(1.1) translateY(0);
  //       transition: transform 1s $ease-out-cubic;
  //     }
  //     .deputes__dummy-block {
  //       grid-column-end: span 4;
  //       padding-bottom: 100%;
  //     }
  //   }
  //   &__map {
  //     grid-column: 4 / span 6;
  //   }
  //   &__stats {
  //     grid-column: 10 / span 3;
  //   }
}
