/*----------------------------------------------------*/
// Page Map - Carte de France
/*----------------------------------------------------*/

.page__map {
  padding: 0;
  .map {
    &__container {
      width: 100%;
      height: calc(100vh - 60px);

      .mapboxgl-control-container {
        .mapboxgl-ctrl-bottom-left,
        .mapboxgl-ctrl-bottom-right {
          z-index: 0;
        }
      }
    }
  }

  @import "components/map/pins";
  @import "components/map/breadcrumb";
  @import "components/map/navigation";
  @import "components/map/mapfilters";
}
