/*----------------------------------------------------*/
// Page Map - Carte de France
/*----------------------------------------------------*/

.page__map {
  padding: 0;

  .map {
    &__container {
      width: 100%;
      height: calc(100vh - 60px);
      .mapboxgl-map {
        font: 18px/1.45rem $font; //override mapboxgl injecting its own css
      }

      .mapboxgl-control-container {
        .mapboxgl-ctrl-bottom-left,
        .mapboxgl-ctrl-bottom-right {
          z-index: 0;
        }
      }
    }
  }

  @import "components/map/pins";
  @import "components/map/breadcrumb";
  @import "components/map/navigation";
  @import "components/map/mapfilters";
}

.mapboxgl {
  &-marker {
    pointer-events: none;
    display: flex;
    flex-direction: column;
    background: none;
    box-shadow: none;
    padding: 0;

    .icon-wrapper {
      width: 40px;
    }
  }
}
