/*----------------------------------------------------*/
// Page Map - Carte de France
/*----------------------------------------------------*/

.page__map {
  padding: 0;

  .map {
    &__container {
      width: 100%;
      height: calc(100vh - 60px);
      .mapboxgl-map {
        font: 18px/1.45rem $font; //override mapboxgl injecting its own css
      }

      .mapboxgl-control-container {
        .mapboxgl-ctrl {
          z-index: 0;
          &-top-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            pointer-events: auto;
          }

          &-attrib {
            font: 12px/20px "Helvetica Neue", "Arial", "Helvetica", "sans-serif";
          }
        }

        .mapboxgl-ctrl-geo {
          position: relative;
          z-index: 1;
        }
      }

      .custom-control-container {
        .ctrl-bottom {
          position: absolute;
          pointer-events: auto;
          left: 50%;
          transform: translate(-50%, 0);
          bottom: 10px;
          z-index: 2;
        }
      }

      .mapboxgl-canvas-container {
        .mapboxgl {
          &-marker {
            pointer-events: none;
            display: flex;
            flex-direction: column;
            background: none;
            box-shadow: none;
            padding: 0;

            .icon-wrapper {
              width: 40px;
            }

            .marker {
              &__pin {
                svg {
                  filter: drop-shadow(0px 10px 5px rgb(0 0 0 / 0.2));
                  circle {
                  }
                }
              }
            }
          }
        }
      }

      @media (max-width: 875px) {
        .custom-control-container {
          .ctrl-bottom {
            bottom: -5px;
          }
        }
      }
    }

    &__loading {
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      backdrop-filter: blur(2px) grayscale(50%) opacity(0);
      background-color: rgba($white, 0);
      z-index: 2;
      pointer-events: none;

      transition: background-color 0.3s $ease-out-cubic, backdrop-filter 0.3s $ease-out-cubic;

      .loading-spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0.1);
        opacity: 0;

        transition: transform 0.3s $ease-in-out-cubic;

        .spinner {
          width: 150px;
          height: 150px;
          circle {
            stroke-width: 5px;
          }
        }
      }

      &.visible {
        background-color: rgba($black, 0.2);
        backdrop-filter: blur(3px) grayscale(50%) opacity(1);
        transition: background-color 0.3s $ease-out-cubic, backdrop-filter 0.3s $ease-out-cubic;

        .loading-spinner {
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
        }
      }
    }
  }

  @import "components/map/pins";
  @import "components/map/breadcrumb";
  @import "components/map/geocoder";
  @import "components/map/mapfilters";
}
