.page__mentions-legales {
  max-width: 70vw;
  margin: 0 auto;

  p {
    margin-left: 20px;
  }

  a {
    color: $main-color;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.5s $ease-out-cubic;
    &:hover {
      color: $secondary-color;
      text-decoration: underline;
    }
  }

  ul {
    list-style-position: inside;
    margin-top: 20px;
  }

  @media (max-width: 1500px) {
    max-width: unset;
  }

  @media (max-width: 900px) {
    h1,
    h2,
    h3,
    p {
      text-align: center;
      margin-left: 0;
    }
  }
}
