.page__statistiques {
  //second section
  .bars {
    display: flex;
    margin-bottom: 70px;

    .frame-bar {
      margin: 0;
      min-width: unset;
      width: 30%;

      .frame {
        &__content {
          height: 350px;
          .bar {
            &__container {
              width: 100%;
            }
          }
        }
      }
    }

    .frame-barstack {
      max-width: none;
      width: 70%;

      .frame {
        &__content {
          height: 350px;
          .barstack {
            &__container {
              width: 100%;
            }
          }
        }
      }
    }
  }

  // troisième section

  .pyramide {
    display: flex;

    .frame-pyramide {
      margin: 0;
      max-width: none;
      width: 50%;

      .frame__content {
        height: 500px;
        .pyramide__container {
          width: 100%;
          svg {
            width: 50%;
          }
        }
      }
    }
  }
}
