.page__statistiques {
  .statistiques__grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 50px;
    min-height: 100vh;

    .frame {
      max-width: none;
    }

    .frame-filters {
      grid-column-end: span 6;
      grid-row-end: span 3;
    }

    .frame-pie {
      grid-column-end: span 4;
      grid-row-end: span 3;
    }

    .frame-bar {
      grid-column-end: span 3;
      grid-row-end: span 3;
    }

    .frame-barstack {
      grid-column-end: span 7;
      grid-row-end: span 3;
    }

    .frame-pyramide {
      grid-column-end: span 5;
      grid-row-end: span 4;
    }

    @media (max-width: 1543px) {
      .frame-filters {
        grid-row-end: span 4;
      }
      .frame-pie {
        grid-row-end: span 4;
      }
    }

    @media (max-width: 1200px) {
      .frame {
        grid-column-end: span 12;
        grid-row-end: span 3;
      }
    }
    @media (max-width: 929px) {
      grid-gap: 20px;
      .frame {
        grid-column-end: span 12;
        grid-row-end: span 3;
      }
      .frame-filters {
        grid-row-end: span 4;
      }
    }

    @media (max-width: 875px) {
      grid-gap: 20px;
      .frame {
        grid-column-end: span 12;
        grid-row-end: span 3;
      }
      .frame-filters {
        grid-row-end: span 5;
      }
    }

    @media (max-width: 750px) {
      grid-gap: 20px;
      .frame {
        grid-column-end: span 10;
        grid-row-end: span 3;
      }
      .frame-filters {
        grid-row-end: span 5;
      }
    }
    @media (max-width: 679px) {
      grid-gap: 20px;
      .frame {
        grid-column-end: span 12;
        grid-row-end: span 3;
      }
      .frame-filters {
        grid-row-end: span 5;
      }
    }
    @media (max-width: 569px) {
      grid-gap: 20px;
      .frame {
        grid-column-end: span 12;
        grid-row-end: span 3;
      }
      .frame-filters {
        grid-row-end: span 6;
      }
    }
  }
}
