/* Informations */
<<<<<<< HEAD
.depute h3 {
=======
.depute__information-title {
>>>>>>> hotfix/0.1.1
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
    opacity: 0.5;
}
.depute--opened-false .depute__information {
    display: none;
}