/*----------------------------------------------------*/
// Contact component (popup)
/*----------------------------------------------------*/

.contact {
  &__content {
    text-align: center;
  }
  &__text {
    .bigtext {
      font-size: 150%;
      font-weight: bold;
      span {
        font-weight: normal;
      }
    }
  }
}
#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  // input general rules
  input, textarea {
    padding: 5px;
  }
  input {
    // honeypot
    &[id="contact__name"] {
      display: none;
    }
  }
  label {
    margin-left: 5px;
  }

  // MUI Customization
  .MuiFormControl-root {
    width: 100%;
  }
  .MuiInput-root {
    color: $white;
    margin-bottom: 15px;
    background-color: rgba($white, 0.1);
  }
  .MuiInputBase-root::before {
    border-bottom-color: $white;
  }
  .MuiInputBase-root::after {
    border-bottom: none;
    background: linear-gradient(to left, $main-color, $secondary-color);
    height: 2px;
  }
  .MuiFormHelperText-root {
    color: $white;
  }
  .MuiInputLabel-root {
    color: $white;
  }
  .MuiInputLabel-shrink {
    margin-left: 0;
  }
  .MuiButton-root {
    color: $white;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to left, $main-color, $secondary-color);
    border-radius: 5px;
  }
  .MuiFormControlLabel-root {
    margin-bottom: 10px;
  }
  .MuiSvgIcon-root {
    color: $white;
  }
}