header#header.header {
  background: white;
  margin-bottom: 40px;
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
  .header {
    &__wrapper {
      padding: 15px 15px 15px 30px;
      width: 100%;
      transition: 0.225s linear;
    }
    &__home-btn {
      width: 20px;
      text-decoration: none;
      color: black;
      &:hover {
        .header__site-name {
          opacity: 1;
          color: #08c9c4;
          transform: translate3d(0px, 0, 0);
        }
        .header__svg-wrapper{
          opacity: 1;
          pointer-events: none;
          svg {
            path, rect {
              fill:#08c9c4;
            }
          }
        }
      }
    }
    &__logo-wrapper {
      display: flex;
      align-items: center;
    }
    &__svg-wrapper {
      width: 50px;
      transition: width 0.2s linear;
      opacity: 0.75;
      svg {
        path, rect {
          transition: fill 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
      }
    }
    &__site-name {
      font-size: 22px;
      margin-left: 20px;
      text-transform: uppercase;
      font-family: "Augora", "Open Sans";
      transform: translate3d(-10px, 0, 0);
      opacity: 0;
      transition: transform 0.2s linear, opacity 0.2s linear, color 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
  }

  &.small {
    .header {
      &__wrapper {
        padding: 10px 10px 10px 30px;
      }
      &__svg-wrapper {
        width: 35px;
      }
      &__site-name {
        transform: translate3d(0px, 0, 0);
        opacity: 0.75;
      }
    }
  }

  @media (max-width: 1000px) {
    .header {
      &__svg-wrapper {
        width: 30px;
      }
      &__site-name {
        transform: translate3d(0px, 0, 0);
        opacity: 1;
      }
    }
  }
}
