.page-title {
  width: 100%;

  padding: 60px 0 0;

  background-image: linear-gradient(to right, $main-color, $secondary-color);

  overflow: hidden;

  box-shadow: 0px 0px 20px rgba($black, 0.15);

  transform: translate3d(0, 0, 0);
  transition: transform 0.3s $ease-in-out-cubic;

  pointer-events: all;

  &__container {
    position: relative;
    margin: 50px 7vw 0;
    padding: 0 0 20px;
  }
  &__title {
    margin: 0;
    color: $white;
    font-family: $font-title;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 2.25rem;
    line-height: 1.1;

    transition: opacity 0.3s $ease-in-out-cubic, transform 0.3s $ease-in-out-cubic;

    &:first-child {
      transform: translateY(0);
      opacity: 1;
    }
    &:last-child {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(100%);
      margin: 0;
      opacity: 0;
      font-size: 25px;
    }
  }

  svg rect {
    transition: transform 60s $ease-out-cubic;
  }

  // States
  .scrolled & {
    transform: translate3d(0, -75px, 0);
    &__title {
      &:first-child {
        transform: translateY(-100%);
        opacity: 0;
      }
      &:last-child {
        transform: translateY(75%);
        opacity: 1;
      }
    }

    @media (max-width: 600px) {
      &__title:last-child {
        top: -10px;
      }
    }
  }
  .no-title & {
    transition: transform 0.2s $ease-in-out-cubic;
  }
  .transparent & {
    background-image: none;
    box-shadow: 0px 0px 20px rgba($black, 0);
  }
  .scrolled.no-title & {
    transform: translate3d(0, -15px, 0);
    transition: transform 0.3s $ease-in-circ;
  }
  .scrolled.transparent & {
    transform: translate3d(0, -20px, 0);
    box-shadow: 0px 0px 20px rgba($black, 0.15);
    transition: box-shadow 0.3s $ease-in-circ;
  }

  // Media queries
  /*----------------------------------------------------*/
  @media (max-width: 1700px) {
    &__container {
      margin: 50px 30px 0;
      padding: 0 0 20px;
    }
    &__title:last-child {
      left: 10px;
    }
  }

  @media (max-width: 900px) {
    &__title {
      width: 100%;
      text-align: center;
      margin-left: 0;
      &:last-child {
        left: 0;
      }
    }
  }

  @media (max-width: 600px) {
    &__title {
      min-height: 40px;
      font-size: 30px;
    }
  }
  @media (max-width: 500px) {
    &__title {
      font-size: 25px;
    }
  }
  @media (max-width: 400px) {
    &__title:last-child {
      font-size: 20px;
    }
  }
}
