.page-title {
  position: relative;
  left: 50%;

  width: 100vw;

  padding: 60px 0 0;
  margin-bottom: 50px;

  background-image: linear-gradient(to right, $main-color, $secondary-color);

  overflow: hidden;

  transform: translate(-50%, 0);

  &__title {
    color: white;
    padding: 0 7vw;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  svg rect {
    transition: transform 3s $ease-out-cubic;
  }

  // Media queries
  /*----------------------------------------------------*/
  @media (max-width: 1700px) {
    &__title {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  @media (max-width: 900px) {
    &__title {
      text-align: center;
      margin-left: 0;
    }
  }
}
