.simple-tooltip {
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  padding: 10px;
  border-radius: 5px;
  font-family: $font;
  color: $text-color;
  z-index: 2;
  position: absolute;
  pointer-events: none;
  transition: opacity 0.3s $ease-in-out-cubic, top 0.3s $ease-in-out-cubic;
}
