.tooltip {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  padding: 10px;
  border-radius: 5px;
  font-family: $font;
  color: $text-color;
  min-width: 100px;
  max-width: 200px;
  z-index: 2;
  pointer-events: none;

  transition: opacity 0.225s linear, top 0.225s linear;

  &__age {
    font-size: 24px;
    display: flex;
    margin-bottom: 0.5em;
    justify-content: center;
    span {
      font-weight: bold;
      padding-right: 5px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.3em;
    letter-spacing: -0.03em;
    text-align: center;
  }

  &__content {
    text-align: center;
  }

  &__numbers {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0.5em;

    margin-bottom: 0px;
    &--centered {
      justify-content: center;
    }
  }
  &__value {
    display: flex;
    align-items: center;
    margin-right: 10px;
    span {
      font-size: 24px;
      font-weight: bold;
      padding-right: 5px;
    }
  }
  &__percentage {
    font-size: 24px;
    font-weight: bold;
  }

  small {
    font-size: 14px;
    font-weight: normal;
    padding-top: 2px;
  }
}
