// Age chart tooltip
.graph__tooltip {
  white-space: pre;
  background-color: white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  padding: 10px;
  border-radius: 5px;
  font-family: $font;
  min-width: 220px;

  .tooltip {
    &__age {
      font-size: 24px;
      display: flex;
      margin-bottom: 0.5rem;
      justify-content: center;
      span {
        font-weight: bold;
        padding-right: 10px;
      }
    }

    &__groupe {
      font-size: 24px;
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__numbers {
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      font-weight: bold;
      .tooltip__value {
        display: flex;
        align-items: center;
        font-size: 13px;
        font-weight: normal;
        span {
          font-size: 24px;
          font-weight: bold;
          padding-right: 10px;
        }
      }
    }
  }
}
