.block__header {
  position: relative;
  /* padding: 10px 30px 0; */
  height: $headerHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  .header {
    &__title {
      position: relative;
      font-family: $font;
      font-weight: bold;
      text-align: center;
      font-size: 20px;
      color: white;
      text-transform: uppercase;
      margin: 0;
      z-index: 1;
    }

    &__info {
      position: absolute;
      right: 0;
      margin-right: 10px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.225s cubic-bezier(0.7, 0, 0.3, 1);

      svg {
        width: 20px;
        fill: $text-color;
      }

      &:hover {
        transform: scale(1.3);
      }
    }
  }
}
