.block__header {
  position: relative;
  /* padding: 10px 30px 0; */
  height: $headerHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  .header__title {
    position: relative;
    font-family: $font;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin: 0;
    z-index: 1;
  }
}
