.filters {
  margin-bottom: 20px;
  // Contenu
  &__line {
    display: flex;
    align-items: center;
    &--advanced {
      display: flex;
      justify-content: space-between;
    }
  }
  &__charts {
    display: flex;
    margin-bottom: 40px;
    .chart {
      height: 350px;
      border-radius: 20px;
      padding-bottom: 20px;
      &.piechart,
      &.barchart {
        width: 30%;
        background: rgba(black, 0);
        transition: 0.225s linear;
        cursor: pointer;
        &:hover {
          background: rgba(black, 0.05);
        }
      }
      &.complex-barchart {
        width: 70%;
        position: relative;
      }
    }
  }
  &__groupe {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    .groupes__allornone {
      position: absolute;
      top: 50%;
      right: 0px;
      display: flex;
      flex-direction: column;
      transform: translate(0%, -50%);
      button {
        background: none;
        color: #808080;
        border: none;
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: bold;
        padding: 0px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        svg {
          width: 100%;
        }
        &:focus {
          outline: none;
          border: none;
        }
      }
    }
    .groupe {
      margin-left: 10px;
      border: none;
      padding: 0px;
      cursor: pointer;
      background: none;
      position: relative;
      background: white;
      border-radius: 20px;
      transition: border-radius 0.05s linear;
      overflow: hidden;
      &__img-container {
        height: 75px;
        width: 150px;
        position: relative;
        z-index: 2;
        img {
          object-fit: contain;
          height: 100%;
          width: 100%;
          margin: 0px;
        }
      }
      &__background-color {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 1;
        border-radius: 20px;
        filter: grayscale(0);
        transition: opacity 0.225s linear, filter 0.225s linear,
          border-radius 0.1s linear;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
        &:not(.selected) {
          opacity: 0.15 !important;
          border-radius: 5px !important;
          filter: grayscale(1);
        }
      }
      &:hover {
        .groupe__background-color {
          opacity: 0.5;
          &:not(.selected) {
            opacity: 0.15 !important;
            border-radius: 5px !important;
            filter: grayscale(0.15);
          }
        }
      }
      &:focus {
        outline: none;
        border: none;
      }
      &::before,
      &::after {
        z-index: 3;
        content: "";
        position: absolute;
        top: 0px;
        width: 0%;
        height: 10px;
        background: white;
      }
      &::after {
        right: 0px;
        transform-origin: top right;
        transform: rotate(-23deg);
        transition: width 0.225s ease-in-out;
      }
      &::before {
        left: 0px;
        transform-origin: top left;
        transform: rotate(23deg);
        transition: width 0.4s ease-in-out;
        display: none;
      }
      &:not(.selected) {
        // border-radius: 5px;
        &::after,
        &::before {
          width: 200%;
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0px;
      height: 1px;
      width: 100%;
      background-color: black;
      z-index: -1;
      opacity: 0.25;
    }
  }
  &__search {
    width: 25%;
    display: flex;
    align-items: center;
    .search {
      &__icon {
        width: 30px;
        height: 30px;
        opacity: 0.75;
      }
      &__input {
        padding: 10px;
        width: 100%;
        margin: 0;
        border: none;
        font-family: "Open Sans";
        font-weight: bold;
        &:focus {
          outline: none;
        }
      }
    }
  }
  &__sexes {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__order {
    width: 25%;
    background: grey;
  }
  &__reset {
    width: 100%;
    text-align: center;
  }
}

.deputies__list {
  position: relative;
  display: grid;
  grid-gap: 1vw;
  grid-template-columns: repeat(6, auto);
  padding: 0px;
  margin: 0px;
  @media (max-width: 1500px) {
    grid-template-columns: repeat(5, auto);
  }
  @media (max-width: 1200px) {
    grid-template-columns: repeat(4, auto);
    grid-gap: 2vw;
  }
  @media (max-width: 900px) {
    grid-template-columns: repeat(3, auto);
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(2, auto);
  }
  @media (max-width: 400px) {
    grid-template-columns: repeat(1, auto);
    grid-gap: 20px;
  }
}
