.depute__open-btn {
    width: 100%;
    background: none;
    border: none;
    position: absolute;
    bottom: 10px; left :0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.depute__open-btn > img {
    max-height: 20px;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}
.depute.depute--opened-true > .depute__open-btn > img {
    transform: rotate(180deg);
}