.map__geocoder {
  width: 350px;

  .geocoder {
    &__form {
      display: flex;

      background: white;
      box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
      border-radius: 5px;
      margin: 0;
      .form {
        &__input {
          width: 100%;
          border: none;
          background: none;
          padding: 7px 0;
          font-size: 15px;
          line-height: 1em;
        }

        &__icon {
          margin: 7px;

          svg {
            width: 15px;
            fill: $text-color;
          }
        }

        &__clear {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          &-btn {
            position: absolute;
            width: 100%;
            height: 100%;
            background: none;
            border: none;
            cursor: pointer;

            padding: 0;
          }

          .icon-wrapper {
            width: 13px;
            margin: 7px;

            svg {
              fill: $text-color;
            }
          }
        }
      }
    }

    &__results {
      margin-top: 10px;
      padding: 0;
      max-width: unset;
      pointer-events: auto;

      .results {
        &__item {
          display: block;
          cursor: pointer;

          width: 100%;
          padding: 5px 10px;

          text-align: left;
          font-size: 14px;

          &:hover {
            background: $btn-hover;
          }

          &:active {
            background: $btn-active;
          }

          .link {
            &__title {
              font-weight: bold;
            }
          }
        }

        &__notfound {
          cursor: default;

          &:hover,
          &:active {
            background: none;
          }
        }
      }

      ul {
        list-style-type: none;
        margin: 0;

        li {
          margin: 0;

          &:first-child {
            a {
              background: $btn-hover;
            }
          }
        }
      }
    }
  }
}
