.map__filters {
  .filters {
    min-width: 650px;
    max-width: 1000px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 0;

    cursor: default;

    &__close {
      position: absolute;
      top: 0;
      left: 0;

      opacity: 0;
      transform: translate(0, 0);
      transition: transform 0.4s $ease-in-out-cubic, opacity 0.2s $ease-in-out-cubic;

      background-image: linear-gradient(to right, $main-color, $secondary-color);
      border-radius: 10px 10px 0 0;

      width: 100%;
      .close__btn {
        position: relative;
        bottom: 5px;

        width: 100%;
        border: none;
        background: none;
        min-height: unset;

        padding: 15px 0;

        cursor: pointer;

        .icon-wrapper {
          width: 20px;
          height: 10px;

          & > svg {
            fill: white;
            transition: fill 0.2s $ease-in-out-cubic;
          }
        }
      }

      &--mini {
        svg {
          transform: rotate(180deg);
        }
      }
    }

    &__mini {
      min-width: unset;
      max-width: unset;
      position: relative;
      pointer-events: auto;

      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
      padding: 0;
      .tooltip__content {
        padding: 3px 10px 10px 10px;
        .mini {
          &__btn {
            position: absolute;
            width: 100%;
            height: 100%;
            background: none;
            border: none;
            left: 0;
            top: 0;
            cursor: pointer;
          }
          &__number {
            display: flex;
            justify-content: space-between;
            padding-bottom: 5px;

            span {
              display: flex;
              align-items: center;
              padding: 0 5px;
              font-size: 21px;
              font-weight: bold;
              small {
                margin: 0 5px;
              }
            }
          }
          &__bar {
            width: 250px;
          }
          &__reset {
            padding: 0;
            min-width: unset;
            min-height: unset;
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }

  @media (min-width: 1081px) {
    .filters {
      &__container {
        &:hover {
          .filters__close {
            opacity: 1;
            transform: translate(0, calc(-100% + 10px));
          }
        }
      }
      &__mini {
        bottom: 10px;
      }
    }
  }

  @media (max-width: 875px) {
    .filters {
      min-width: unset;
      width: 100vw;
      height: calc(100vh - 100px);

      .frame {
        overflow: scroll;
        .tooltip {
          display: none;
        }
      }

      &__close {
        opacity: 1;
        background-color: rgba($lightergrey, 1);
        transform: translate(0, -100%);
        border-radius: 0;

        &--mini {
          display: none;
        }

        .close__btn {
          bottom: -2px;

          .icon-wrapper {
            width: 30px;
            height: 15px;
          }
        }
      }

      &__mini {
        .tooltip__content {
          .mini {
            &__bar {
              width: 200px;
            }
          }
        }
      }
    }
  }
}
