.frame {
  background-color: $frame-color;
  border-radius: 5px;
  padding: 20px 40px;
  max-width: 1500px;
  position: relative;

  &__header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
    //.header {
    // &__title {
    // }
    // &__center {
    // }
    // &__right {
    // }
    // }
  }
  // &__content {

  // }
}
